# Recyled CODE. NEEDS TO BE CLEANED
# Goals
### Review data from Kagle
    1) Import data
    2) Remove null values
### Clean Data
    1) Covert output of data to catagorical using one hot-encoding
    2) Reomve original ouput column
    3) Extract dipsoistion catogorical column as y value for testing
    4) Create features dataframe
### Identify top ten features using decision tree machine learning.
    1) Use decision tree to investigate accuracy of features
    2) Uses random forest models to identify top ten features
    3) create dataframe with top 10 featrues and add one-hot encoding
    4) create csv from dataframe to use with models
### Identify top ten features using decision tree machine learning.
    1) employ minMaxScaler to opimize data
    2) create a dataframe that can be used for modeling (also has one-hot enconding)
    3) create csv from dataframe to use with models
    4) ran random forest model for fun


Refrence
2/Activities/04-Stu_Trees/Solved/Stu_Trees.ipynb

In [1]:
# Dependencies
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn import tree
import os

## Read the CSV and Perform Basic Data Cleaning

In [2]:
#import crime data
path = "data/"
file = "IMPD_UCR_2013_Data.csv"
path_file = path + file
df = pd.read_csv(path_file)
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,OBJECTID,UCR,CRIME,DATE_,TIME,CASE,ADDRESS,BEAT,X_COORD,Y_COORD
0,31457,235,Over 200$,1/22/2008,12:00,D130080153A,107 KIRK DR W,SW80,146162.47,1646074.20
1,31458,235,Over 200$,9/7/2012,0:01,D130042957A,947 E MORRIS ST,SE10,194299.98,1640517.81
2,31459,235,Over 200$,1/7/2013,13:21,D130002637A,1308 CENTRAL AV,NE10,192390.67,1652571.63
3,31460,235,Over 200$,1/14/2013,12:30,D130006140A,1204 CENTRAL AV,NE10,192394.66,1652076.56
4,31461,235,Over 200$,1/16/2013,18:56,D130007059A,1209 S RANDOLPH ST,SE10,198558.27,1640132.47

In [3]:
#df["BEAT"].value_counts()

In [4]:
df[['Hour','Minute']] = df.TIME.str.split(":",expand=True,)
df

,OBJECTID,UCR,CRIME,DATE_,TIME,CASE,ADDRESS,BEAT,X_COORD,Y_COORD,Hour,Minute
0,31457,235,Over 200$,1/22/2008,12:00,D130080153A,107 KIRK DR W,SW80,146162.47,1646074.20,12,00
1,31458,235,Over 200$,9/7/2012,0:01,D130042957A,947 E MORRIS ST,SE10,194299.98,1640517.81,0,01
2,31459,235,Over 200$,1/7/2013,13:21,D130002637A,1308 CENTRAL AV,NE10,192390.67,1652571.63,13,21
3,31460,235,Over 200$,1/14/2013,12:30,D130006140A,1204 CENTRAL AV,NE10,192394.66,1652076.56,12,30
4,31461,235,Over 200$,1/16/2013,18:56,D130007059A,1209 S RANDOLPH ST,SE10,198558.27,1640132.47,18,56
...,...,...,...,...,...,...,...,...,...,...,...,...
531,48737,255,Under 50$,9/25/2013,23:58,D130128765A,4923 ROCKVILLE RD,SW60,165606.86,1645550.81,23,58
532,48738,255,Under 50$,9/30/2013,18:47,D130130762A,1148 SHARON AV,SW10,175826.01,1652157.25,18,47
533,48739,255,Under 50$,10/1/2013,12:00,D130131313A,366 WICHSER AV,SW60,169407.04,1643700.43,12,00
534,48740,255,Under 50$,10/5/2013,12:08,D130133142A,2710 BETHEL AV,SE20,201395.56,1637721.23,12,08
535,48741,255,Under 50$,11/11/2013,19:00,D130149874A,6030 E 21ST ST,NE30,216743.80,1656764.97,19,00

In [5]:
df[["District","Zone"]] = df.BEAT.str.extract('([a-zA-Z]+)([^a-zA-Z]+)',expand=True)

df

,OBJECTID,UCR,CRIME,DATE_,TIME,CASE,ADDRESS,BEAT,X_COORD,Y_COORD,Hour,Minute,District,Zone
0,31457,235,Over 200$,1/22/2008,12:00,D130080153A,107 KIRK DR W,SW80,146162.47,1646074.20,12,00,SW,80
1,31458,235,Over 200$,9/7/2012,0:01,D130042957A,947 E MORRIS ST,SE10,194299.98,1640517.81,0,01,SE,10
2,31459,235,Over 200$,1/7/2013,13:21,D130002637A,1308 CENTRAL AV,NE10,192390.67,1652571.63,13,21,NE,10
3,31460,235,Over 200$,1/14/2013,12:30,D130006140A,1204 CENTRAL AV,NE10,192394.66,1652076.56,12,30,NE,10
4,31461,235,Over 200$,1/16/2013,18:56,D130007059A,1209 S RANDOLPH ST,SE10,198558.27,1640132.47,18,56,SE,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,48737,255,Under 50$,9/25/2013,23:58,D130128765A,4923 ROCKVILLE RD,SW60,165606.86,1645550.81,23,58,SW,60
532,48738,255,Under 50$,9/30/2013,18:47,D130130762A,1148 SHARON AV,SW10,175826.01,1652157.25,18,47,SW,10
533,48739,255,Under 50$,10/1/2013,12:00,D130131313A,366 WICHSER AV,SW60,169407.04,1643700.43,12,00,SW,60
534,48740,255,Under 50$,10/5/2013,12:08,D130133142A,2710 BETHEL AV,SE20,201395.56,1637721.23,12,08,SE,20
535,48741,255,Under 50$,11/11/2013,19:00,D130149874A,6030 E 21ST ST,NE30,216743.80,1656764.97,19,00,NE,30

In [6]:
# Filter key features
test_data_df = df.drop(columns=["BEAT","X_COORD","Y_COORD", "Zone","TIME","UCR","OBJECTID","CASE"])

test_data_df

         CRIME       DATE_             ADDRESS Hour Minute District
0    Over 200$   1/22/2008       107 KIRK DR W   12     00       SW
1    Over 200$    9/7/2012     947 E MORRIS ST    0     01       SE
2    Over 200$    1/7/2013     1308 CENTRAL AV   13     21       NE
3    Over 200$   1/14/2013     1204 CENTRAL AV   12     30       NE
4    Over 200$   1/16/2013  1209 S RANDOLPH ST   18     56       SE
..         ...         ...                 ...  ...    ...      ...
531  Under 50$   9/25/2013   4923 ROCKVILLE RD   23     58       SW
532  Under 50$   9/30/2013      1148 SHARON AV   18     47       SW
533  Under 50$   10/1/2013      366 WICHSER AV   12     00       SW
534  Under 50$   10/5/2013      2710 BETHEL AV   12     08       SE
535  Under 50$  11/11/2013      6030 E 21ST ST   19     00       NE

[536 rows x 6 columns]

In [7]:
# Investigate key districts
test_data_df["District"].value_counts()

NE    131
DT     93
NW     85
ND     82
SE     79
SW     66
Name: District, dtype: int64

In [8]:
# Check objet and data type
#test_data_df.DATE_.head()

In [9]:
test_data_df["Hour"] = test_data_df["Hour"].astype(str)
test_data_df["Hour"]  = test_data_df["Hour"].astype(pd.StringDtype())
test_data_df["Minute"] = test_data_df["Minute"].astype(str)
test_data_df["Minute"]  = test_data_df["Minute"].astype(pd.StringDtype())
test_data_df

         CRIME       DATE_             ADDRESS Hour Minute District
0    Over 200$   1/22/2008       107 KIRK DR W   12     00       SW
1    Over 200$    9/7/2012     947 E MORRIS ST    0     01       SE
2    Over 200$    1/7/2013     1308 CENTRAL AV   13     21       NE
3    Over 200$   1/14/2013     1204 CENTRAL AV   12     30       NE
4    Over 200$   1/16/2013  1209 S RANDOLPH ST   18     56       SE
..         ...         ...                 ...  ...    ...      ...
531  Under 50$   9/25/2013   4923 ROCKVILLE RD   23     58       SW
532  Under 50$   9/30/2013      1148 SHARON AV   18     47       SW
533  Under 50$   10/1/2013      366 WICHSER AV   12     00       SW
534  Under 50$   10/5/2013      2710 BETHEL AV   12     08       SE
535  Under 50$  11/11/2013      6030 E 21ST ST   19     00       NE

[536 rows x 6 columns]

In [10]:
# Check objet and data type
test_data_df['DATE_'] = pd.to_datetime(test_data_df['DATE_'])
test_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 536 entries, 0 to 535
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CRIME     536 non-null    object
 1   DATE_     536 non-null    datetime64[ns]
 2   ADDRESS   536 non-null    object
 3   Hour      536 non-null    string
 4   Minute    536 non-null    string
 5   District  536 non-null    object
dtypes: datetime64[ns](1), object(3), string(2)
memory usage: 29.3+ KB

In [11]:
#final crime data set will serve as model data set
test_data_df

         CRIME      DATE_             ADDRESS Hour Minute District
0    Over 200$ 2008-01-22       107 KIRK DR W   12     00       SW
1    Over 200$ 2012-09-07     947 E MORRIS ST    0     01       SE
2    Over 200$ 2013-01-07     1308 CENTRAL AV   13     21       NE
3    Over 200$ 2013-01-14     1204 CENTRAL AV   12     30       NE
4    Over 200$ 2013-01-16  1209 S RANDOLPH ST   18     56       SE
..         ...        ...                 ...  ...    ...      ...
531  Under 50$ 2013-09-25   4923 ROCKVILLE RD   23     58       SW
532  Under 50$ 2013-09-30      1148 SHARON AV   18     47       SW
533  Under 50$ 2013-10-01      366 WICHSER AV   12     00       SW
534  Under 50$ 2013-10-05      2710 BETHEL AV   12     08       SE
535  Under 50$ 2013-11-11      6030 E 21ST ST   19     00       NE

[536 rows x 6 columns]

In [12]:
# Convert Date infomation into indvidual arrays
test_data_df['DATE_year'] = test_data_df['DATE_'].dt.year
test_data_df['DATE_month'] = test_data_df['DATE_'].dt.month
test_data_df['DATE_week'] = test_data_df['DATE_'].dt.week
test_data_df['DATE_day'] = test_data_df['DATE_'].dt.day

In [13]:
test_data_df = test_data_df[["CRIME","DATE_","DATE_year","DATE_month", "DATE_week","DATE_day", "Hour", "Minute","ADDRESS", "District"]]
test_data_df = test_data_df.astype(str)
test_data_df.dtypes

CRIME         object
DATE_         object
DATE_year     object
DATE_month    object
DATE_week     object
DATE_day      object
Hour          object
Minute        object
ADDRESS       object
District      object
dtype: object

### FINAL CRIME DATA: Will also serve as dataframe for modeling

In [14]:
test_data_df

,CRIME,DATE_,DATE_year,DATE_month,DATE_week,DATE_day,Hour,Minute,ADDRESS,District
0,Over 200$,2008-01-22,2008,1,4,22,12,00,107 KIRK DR W,SW
1,Over 200$,2012-09-07,2012,9,36,7,0,01,947 E MORRIS ST,SE
2,Over 200$,2013-01-07,2013,1,2,7,13,21,1308 CENTRAL AV,NE
3,Over 200$,2013-01-14,2013,1,3,14,12,30,1204 CENTRAL AV,NE
4,Over 200$,2013-01-16,2013,1,3,16,18,56,1209 S RANDOLPH ST,SE
...,...,...,...,...,...,...,...,...,...,...
531,Under 50$,2013-09-25,2013,9,39,25,23,58,4923 ROCKVILLE RD,SW
532,Under 50$,2013-09-30,2013,9,40,30,18,47,1148 SHARON AV,SW
533,Under 50$,2013-10-01,2013,10,40,1,12,00,366 WICHSER AV,SW
534,Under 50$,2013-10-05,2013,10,40,5,12,08,2710 BETHEL AV,SE
535,Under 50$,2013-11-11,2013,11,46,11,19,00,6030 E 21ST ST,NE

## Import temprature Data

In [15]:
# Import Tempratue DATA (K) and create master template
path = "data/"
file = "IndyWeather2013.csv"
path_file = path + file
Indy_temp_df = pd.read_csv(path_file)
Indy_temp_df = Indy_temp_df.drop(columns=["Unnamed: 0"])
Indy_temp_df= Indy_temp_df.astype(str)
Indy_temp_df.dtypes

Indianapolis    object
DATE_year       object
DATE_month      object
DATE_day        object
Hour            object
dtype: object

In [16]:
temp_df = pd.merge(test_data_df, Indy_temp_df, how='left', on=['DATE_year', 'DATE_month', 'DATE_day', 'Hour'])

In [17]:
temp_df

,CRIME,DATE_,DATE_year,DATE_month,DATE_week,DATE_day,Hour,Minute,ADDRESS,District,Indianapolis
0,Over 200$,2008-01-22,2008,1,4,22,12,00,107 KIRK DR W,SW,NaN
1,Over 200$,2012-09-07,2012,9,36,7,0,01,947 E MORRIS ST,SE,NaN
2,Over 200$,2013-01-07,2013,1,2,7,13,21,1308 CENTRAL AV,NE,275.18
3,Over 200$,2013-01-14,2013,1,3,14,12,30,1204 CENTRAL AV,NE,277.15
4,Over 200$,2013-01-16,2013,1,3,16,18,56,1209 S RANDOLPH ST,SE,271.01
...,...,...,...,...,...,...,...,...,...,...,...
531,Under 50$,2013-09-25,2013,9,39,25,23,58,4923 ROCKVILLE RD,SW,296.9
532,Under 50$,2013-09-30,2013,9,40,30,18,47,1148 SHARON AV,SW,294.3765
533,Under 50$,2013-10-01,2013,10,40,1,12,00,366 WICHSER AV,SW,291.505
534,Under 50$,2013-10-05,2013,10,40,5,12,08,2710 BETHEL AV,SE,294.15
535,Under 50$,2013-11-11,2013,11,46,11,19,00,6030 E 21ST ST,NE,283.44

In [18]:
temp_df = temp_df.dropna()
temp_df

,CRIME,DATE_,DATE_year,DATE_month,DATE_week,DATE_day,Hour,Minute,ADDRESS,District,Indianapolis
2,Over 200$,2013-01-07,2013,1,2,7,13,21,1308 CENTRAL AV,NE,275.18
3,Over 200$,2013-01-14,2013,1,3,14,12,30,1204 CENTRAL AV,NE,277.15
4,Over 200$,2013-01-16,2013,1,3,16,18,56,1209 S RANDOLPH ST,SE,271.01
5,Over 200$,2013-01-21,2013,1,4,21,9,00,7637 SANTA BARBARA DR,NW,274.3
6,Over 200$,2013-01-24,2013,1,4,24,13,15,E 10TH ST & N TUXEDO ST,NE,262.95
...,...,...,...,...,...,...,...,...,...,...,...
531,Under 50$,2013-09-25,2013,9,39,25,23,58,4923 ROCKVILLE RD,SW,296.9
532,Under 50$,2013-09-30,2013,9,40,30,18,47,1148 SHARON AV,SW,294.3765
533,Under 50$,2013-10-01,2013,10,40,1,12,00,366 WICHSER AV,SW,291.505
534,Under 50$,2013-10-05,2013,10,40,5,12,08,2710 BETHEL AV,SE,294.15
535,Under 50$,2013-11-11,2013,11,46,11,19,00,6030 E 21ST ST,NE,283.44

In [19]:
test_data_df = temp_df.drop(columns=["DATE_"])
test_data_df

,CRIME,DATE_year,DATE_month,DATE_week,DATE_day,Hour,Minute,ADDRESS,District,Indianapolis
2,Over 200$,2013,1,2,7,13,21,1308 CENTRAL AV,NE,275.18
3,Over 200$,2013,1,3,14,12,30,1204 CENTRAL AV,NE,277.15
4,Over 200$,2013,1,3,16,18,56,1209 S RANDOLPH ST,SE,271.01
5,Over 200$,2013,1,4,21,9,00,7637 SANTA BARBARA DR,NW,274.3
6,Over 200$,2013,1,4,24,13,15,E 10TH ST & N TUXEDO ST,NE,262.95
...,...,...,...,...,...,...,...,...,...,...
531,Under 50$,2013,9,39,25,23,58,4923 ROCKVILLE RD,SW,296.9
532,Under 50$,2013,9,40,30,18,47,1148 SHARON AV,SW,294.3765
533,Under 50$,2013,10,40,1,12,00,366 WICHSER AV,SW,291.505
534,Under 50$,2013,10,40,5,12,08,2710 BETHEL AV,SE,294.15
535,Under 50$,2013,11,46,11,19,00,6030 E 21ST ST,NE,283.44

In [20]:
path = "data/"
file = "modified_IndyPresure2013.csv"
path_file = path + file
Indy_pres_df = pd.read_csv(path_file)
Indy_pres_df = Indy_pres_df.drop(columns=["Unnamed: 0"])
Indy_pres_df= Indy_pres_df.astype(str)
Indy_pres_df.dtypes

Pressure(atm)    object
DATE_year        object
DATE_month       object
DATE_day         object
Hour             object
dtype: object

# Import Pressure DATA

In [21]:
Indy_pres_df

     Pressure(atm) DATE_year DATE_month DATE_day Hour
0                5      2013          1        1    0
1                4      2013          1        1    1
2                4      2013          1        1    2
3                4      2013          1        1    3
4                5      2013          1        1    4
...            ...       ...        ...      ...  ...
8755             1      2013         12       31   19
8756             1      2013         12       31   20
8757             1      2013         12       31   21
8758             1      2013         12       31   22
8759             4      2013         12       31   23

[8760 rows x 5 columns]

In [22]:
temp_df = pd.merge(test_data_df, Indy_pres_df, how='left', on=['DATE_year', 'DATE_month', 'DATE_day', 'Hour'])
temp_df

,CRIME,DATE_year,DATE_month,DATE_week,DATE_day,Hour,Minute,ADDRESS,District,Indianapolis,Pressure(atm)
0,Over 200$,2013,1,2,7,13,21,1308 CENTRAL AV,NE,275.18,5
1,Over 200$,2013,1,3,14,12,30,1204 CENTRAL AV,NE,277.15,4
2,Over 200$,2013,1,3,16,18,56,1209 S RANDOLPH ST,SE,271.01,5
3,Over 200$,2013,1,4,21,9,00,7637 SANTA BARBARA DR,NW,274.3,9
4,Over 200$,2013,1,4,24,13,15,E 10TH ST & N TUXEDO ST,NE,262.95,2
...,...,...,...,...,...,...,...,...,...,...,...
514,Under 50$,2013,9,39,25,23,58,4923 ROCKVILLE RD,SW,296.9,0
515,Under 50$,2013,9,40,30,18,47,1148 SHARON AV,SW,294.3765,2
516,Under 50$,2013,10,40,1,12,00,366 WICHSER AV,SW,291.505,2
517,Under 50$,2013,10,40,5,12,08,2710 BETHEL AV,SE,294.15,1
518,Under 50$,2013,11,46,11,19,00,6030 E 21ST ST,NE,283.44,1

In [23]:
temp_df.rename(columns = {"Indianapolis": "Temp(K)"}, inplace=True)

In [24]:
test_data_df= temp_df.dropna()

## IMPORT WIND DATA

In [25]:
path = "data/"
file = "modified_wind_2013.csv"
path_file = path + file
wind_df = pd.read_csv(path_file)
wind_df = wind_df.drop(columns=["Unnamed: 0"])
wind_df= wind_df.astype(str)
wind_df.dtypes
wind_df

     wind DATE_year DATE_month DATE_day Hour
0       5      2013          1        1    0
1       4      2013          1        1    1
2       4      2013          1        1    2
3       4      2013          1        1    3
4       5      2013          1        1    4
...   ...       ...        ...      ...  ...
8755    1      2013         12       31   19
8756    1      2013         12       31   20
8757    1      2013         12       31   21
8758    1      2013         12       31   22
8759    4      2013         12       31   23

[8760 rows x 5 columns]

In [26]:
temp_df = pd.merge(test_data_df, wind_df, how='left', on=['DATE_year', 'DATE_month', 'DATE_day', 'Hour'])
temp_df

,CRIME,DATE_year,DATE_month,DATE_week,DATE_day,Hour,Minute,ADDRESS,District,Temp(K),Pressure(atm),wind
0,Over 200$,2013,1,2,7,13,21,1308 CENTRAL AV,NE,275.18,5,5
1,Over 200$,2013,1,3,14,12,30,1204 CENTRAL AV,NE,277.15,4,4
2,Over 200$,2013,1,3,16,18,56,1209 S RANDOLPH ST,SE,271.01,5,5
3,Over 200$,2013,1,4,21,9,00,7637 SANTA BARBARA DR,NW,274.3,9,9
4,Over 200$,2013,1,4,24,13,15,E 10TH ST & N TUXEDO ST,NE,262.95,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
514,Under 50$,2013,9,39,25,23,58,4923 ROCKVILLE RD,SW,296.9,0,0
515,Under 50$,2013,9,40,30,18,47,1148 SHARON AV,SW,294.3765,2,2
516,Under 50$,2013,10,40,1,12,00,366 WICHSER AV,SW,291.505,2,2
517,Under 50$,2013,10,40,5,12,08,2710 BETHEL AV,SE,294.15,1,1
518,Under 50$,2013,11,46,11,19,00,6030 E 21ST ST,NE,283.44,1,1

In [27]:
test_data_df= temp_df.dropna()

# Import Humidity

In [ ]:
path = "data/"
file = "modified_wind_2013.csv"
path_file = path + file
wind_df = pd.read_csv(path_file)
wind_df = wind_df.drop(columns=["Unnamed: 0"])
wind_df= wind_df.astype(str)
wind_df.dtypes
wind_df

In [29]:
# Entire data frame with cleaned raw data. No Manipulation to columns.

In [30]:
#test_data_df = temp_df.drop(columns=["DATE_"])

In [31]:
#test_data_df = test_data_df[["DATE_year","DATE_month", "DATE_week","DATE_day", "Hour", "Minute", "District"]]
#test_data_df

# Preprocessing Review
## One-Hot Encoding

overview:
* Creating dataframes for modeling
* featrues_df: does not have the y output (koi_disposition)
* modified_data_df: will have all features and a diposition column with numeracal values. This will be completed latter.
* modified_data_df: will be convertedt to a csv for use in other models and stored in data folder. File=raw_data_with_diposition.csv
* y is original disposition catagory. This will get converted to a 0,1 or 2 value latter.

In [32]:
# Creating dataframes for modeling. Works with imported code variables
# featrues_df: does not have the y output (koi_disposition)
# modified_data_df: will have all features and a diposition column with numeracal values. This will be completed latter.
# modified_data_df: will be convertedt to a csv for use in other models and stored in data folder.File=raw_data_with_diposition.csv.
# y is original disposition catagory. This will get converted to a 0,1 or 2 value latter.


features_df = test_data_df.drop("District", axis=1)
y = test_data_df["District"]
moidfied_data_df = features_df
#moidfied_data_df
features_df

,CRIME,DATE_year,DATE_month,DATE_week,DATE_day,Hour,Minute,ADDRESS,Temp(K),Pressure(atm),wind
0,Over 200$,2013,1,2,7,13,21,1308 CENTRAL AV,275.18,5,5
1,Over 200$,2013,1,3,14,12,30,1204 CENTRAL AV,277.15,4,4
2,Over 200$,2013,1,3,16,18,56,1209 S RANDOLPH ST,271.01,5,5
3,Over 200$,2013,1,4,21,9,00,7637 SANTA BARBARA DR,274.3,9,9
4,Over 200$,2013,1,4,24,13,15,E 10TH ST & N TUXEDO ST,262.95,2,2
...,...,...,...,...,...,...,...,...,...,...,...
514,Under 50$,2013,9,39,25,23,58,4923 ROCKVILLE RD,296.9,0,0
515,Under 50$,2013,9,40,30,18,47,1148 SHARON AV,294.3765,2,2
516,Under 50$,2013,10,40,1,12,00,366 WICHSER AV,291.505,2,2
517,Under 50$,2013,10,40,5,12,08,2710 BETHEL AV,294.15,1,1
518,Under 50$,2013,11,46,11,19,00,6030 E 21ST ST,283.44,1,1

### Encode Districts (the outup Y variable)

In [33]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)

In [34]:
n= 0
for label, original_class in zip(encoded_y, y):
    print('Original Class: ' + str(original_class))
    print('Encoded Label: ' + str(label))    
    n=n+1
    print(n)
    print('-' * 12)

Original Class: NE
Encoded Label: 2
1
------------
Original Class: NE
Encoded Label: 2
2
------------
Original Class: SE
Encoded Label: 4
3
------------
Original Class: NW
Encoded Label: 3
4
------------
Original Class: NE
Encoded Label: 2
5
------------
Original Class: ND
Encoded Label: 1
6
------------
Original Class: DT
Encoded Label: 0
7
------------
Original Class: SE
Encoded Label: 4
8
------------
Original Class: DT
Encoded Label: 0
9
------------
Original Class: SE
Encoded Label: 4
10
------------
Original Class: SE
Encoded Label: 4
11
------------
Original Class: NW
Encoded Label: 3
12
------------
Original Class: SW
Encoded Label: 5
13
------------
Original Class: SE
Encoded Label: 4
14
------------
Original Class: NW
Encoded Label: 3
15
------------
Original Class: ND
Encoded Label: 1
16
------------
Original Class: DT
Encoded Label: 0
17
------------
Original Class: ND
Encoded Label: 1
18
------------
Original Class: DT
Encoded Label: 0
19
------------
Original Class: NW
Encoded Label: 3
20
------------
Original Class: NW
Encoded Label: 3
21
------------
Original Class: DT
Encoded Label: 0
22
------------
Original Class: NE
Encoded Label: 2
23
------------
Original Class: NE
Encoded Label: 2
24
------------
Original Class: NW
Encoded Label: 3
25
------------
Original Class: DT
Encoded Label: 0
26
------------
Original Class: ND
Encoded Label: 1
27
------------
Original Class: ND
Encoded Label: 1
28
------------
Original Class: SE
Encoded Label: 4
29
------------
Original Class: ND
Encoded Label: 1
30
------------
Original Class: DT
Encoded Label: 0
31
------------
Original Class: ND
Encoded Label: 1
32
------------
Original Class: DT
Encoded Label: 0
33
------------
Original Class: ND
Encoded Label: 1
34
------------
Original Class: DT
Encoded Label: 0
35
------------
Original Class: NE
Encoded Label: 2
36
------------
Original Class: ND
Encoded Label: 1
37
------------
Original Class: DT
Encoded Label: 0
38
------------
Original Class: NW
Encoded Label: 3
39
------------
Original Class: SE
Encoded Label: 4
40
------------
Original Class: ND
Encoded Label: 1
41
------------
Original Class: DT
Encoded Label: 0
42
------------
Original Class: SE
Encoded Label: 4
43
------------
Original Class: DT
Encoded Label: 0
44
------------
Original Class: NE
Encoded Label: 2
45
------------
Original Class: DT
Encoded Label: 0
46
------------
Original Class: NW
Encoded Label: 3
47
------------
Original Class: DT
Encoded Label: 0
48
------------
Original Class: DT
Encoded Label: 0
49
------------
Original Class: NE
Encoded Label: 2
50
------------
Original Class: NW
Encoded Label: 3
51
------------
Original Class: DT
Encoded Label: 0
52
------------
Original Class: SW
Encoded Label: 5
53
------------
Original Class: SW
Encoded Label: 5
54
------------
Original Class: ND
Encoded Label: 1
55
------------
Original Class: SW
Encoded Label: 5
56
------------
Original Class: DT
Encoded Label: 0
57
------------
Original Class: NE
Encoded Label: 2
58
------------
Original Class: ND
Encoded Label: 1
59
------------
Original Class: SE
Encoded Label: 4
60
------------
Original Class: ND
Encoded Label: 1
61
------------
Original Class: DT
Encoded Label: 0
62
------------
Original Class: NE
Encoded Label: 2
63
------------
Original Class: SE
Encoded Label: 4
64
------------
Original Class: DT
Encoded Label: 0
65
------------
Original Class: NE
Encoded Label: 2
66
------------
Original Class: ND
Encoded Label: 1
67
------------
Original Class: NW
Encoded Label: 3
68
------------
Original Class: SW
Encoded Label: 5
69
------------
Original Class: NE
Encoded Label: 2
70
------------
Original Class: SE
Encoded Label: 4
71
------------
Original Class: ND
Encoded Label: 1
72
------------
Original Class: DT
Encoded Label: 0
73
------------
Original Class: DT
Encoded Label: 0
74
------------
Original Class: NE
Encoded Label: 2
75
------------
Original Class: DT
Encoded Label: 0
76
------------
Original Class: ND
Encoded Label: 1
77
------------
Original Class: NE
Encoded Label: 2
78
------------
Original Class: NW
Encoded Label: 3
79
------------
Original Class: DT
Encoded Label: 0
80
------------
Original Class: DT
Encoded Label: 0
81
------------
Original Class: DT
Encoded Label: 0
82
------------
Original Class: NE
Encoded Label: 2
83
------------
Original Class: NW
Encoded Label: 3
84
------------
Original Class: NW
Encoded Label: 3
85
------------
Original Class: DT
Encoded Label: 0
86
------------
Original Class: DT
Encoded Label: 0
87
------------
Original Class: DT
Encoded Label: 0
88
------------
Original Class: NW
Encoded Label: 3
89
------------
Original Class: DT
Encoded Label: 0
90
------------
Original Class: SE
Encoded Label: 4
91
------------
Original Class: DT
Encoded Label: 0
92
------------
Original Class: DT
Encoded Label: 0
93
------------
Original Class: ND
Encoded Label: 1
94
------------
Original Class: DT
Encoded Label: 0
95
------------
Original Class: NW
Encoded Label: 3
96
------------
Original Class: NE
Encoded Label: 2
97
------------
Original Class: NE
Encoded Label: 2
98
------------
Original Class: NE
Encoded Label: 2
99
------------
Original Class: SE
Encoded Label: 4
100
------------
Original Class: SW
Encoded Label: 5
101
------------
Original Class: NE
Encoded Label: 2
102
------------
Original Class: DT
Encoded Label: 0
103
------------
Original Class: DT
Encoded Label: 0
104
------------
Original Class: NE
Encoded Label: 2
105
------------
Original Class: SW
Encoded Label: 5
106
------------
Original Class: NE
Encoded Label: 2
107
------------
Original Class: DT
Encoded Label: 0
108
------------
Original Class: DT
Encoded Label: 0
109
------------
Original Class: NE
Encoded Label: 2
110
------------
Original Class: DT
Encoded Label: 0
111
------------
Original Class: NW
Encoded Label: 3
112
------------
Original Class: NW
Encoded Label: 3
113
------------
Original Class: SE
Encoded Label: 4
114
------------
Original Class: NW
Encoded Label: 3
115
------------
Original Class: DT
Encoded Label: 0
116
------------
Original Class: NE
Encoded Label: 2
117
------------
Original Class: ND
Encoded Label: 1
118
------------
Original Class: DT
Encoded Label: 0
119
------------
Original Class: SE
Encoded Label: 4
120
------------
Original Class: NE
Encoded Label: 2
121
------------
Original Class: DT
Encoded Label: 0
122
------------
Original Class: NW
Encoded Label: 3
123
------------
Original Class: SE
Encoded Label: 4
124
------------
Original Class: NE
Encoded Label: 2
125
------------
Original Class: ND
Encoded Label: 1
126
------------
Original Class: ND
Encoded Label: 1
127
------------
Original Class: ND
Encoded Label: 1
128
------------
Original Class: NW
Encoded Label: 3
129
------------
Original Class: ND
Encoded Label: 1
130
------------
Original Class: ND
Encoded Label: 1
131
------------
Original Class: NW
Encoded Label: 3
132
------------
Original Class: SE
Encoded Label: 4
133
------------
Original Class: NW
Encoded Label: 3
134
------------
Original Class: ND
Encoded Label: 1
135
------------
Original Class: SW
Encoded Label: 5
136
------------
Original Class: SE
Encoded Label: 4
137
------------
Original Class: SE
Encoded Label: 4
138
------------
Original Class: NE
Encoded Label: 2
139
------------
Original Class: DT
Encoded Label: 0
140
------------
Original Class: ND
Encoded Label: 1
141
------------
Original Class: DT
Encoded Label: 0
142
------------
Original Class: NW
Encoded Label: 3
143
------------
Original Class: NW
Encoded Label: 3
144
------------
Original Class: DT
Encoded Label: 0
145
------------
Original Class: SE
Encoded Label: 4
146
------------
Original Class: SW
Encoded Label: 5
147
------------
Original Class: ND
Encoded Label: 1
148
------------
Original Class: ND
Encoded Label: 1
149
------------
Original Class: NW
Encoded Label: 3
150
------------
Original Class: NW
Encoded Label: 3
151
------------
Original Class: NE
Encoded Label: 2
152
------------
Original Class: ND
Encoded Label: 1
153
------------
Original Class: DT
Encoded Label: 0
154
------------
Original Class: NW
Encoded Label: 3
155
------------
Original Class: SE
Encoded Label: 4
156
------------
Original Class: NE
Encoded Label: 2
157
------------
Original Class: NE
Encoded Label: 2
158
------------
Original Class: ND
Encoded Label: 1
159
------------
Original Class: SE
Encoded Label: 4
160
------------
Original Class: NW
Encoded Label: 3
161
------------
Original Class: ND
Encoded Label: 1
162
------------
Original Class: DT
Encoded Label: 0
163
------------
Original Class: DT
Encoded Label: 0
164
------------
Original Class: ND
Encoded Label: 1
165
------------
Original Class: ND
Encoded Label: 1
166
------------
Original Class: ND
Encoded Label: 1
167
------------
Original Class: DT
Encoded Label: 0
168
------------
Original Class: NE
Encoded Label: 2
169
------------
Original Class: NW
Encoded Label: 3
170
------------
Original Class: DT
Encoded Label: 0
171
------------
Original Class: SW
Encoded Label: 5
172
------------
Original Class: ND
Encoded Label: 1
173
------------
Original Class: ND
Encoded Label: 1
174
------------
Original Class: NE
Encoded Label: 2
175
------------
Original Class: ND
Encoded Label: 1
176
------------
Original Class: NW
Encoded Label: 3
177
------------
Original Class: SW
Encoded Label: 5
178
------------
Original Class: ND
Encoded Label: 1
179
------------
Original Class: ND
Encoded Label: 1
180
------------
Original Class: ND
Encoded Label: 1
181
------------
Original Class: NW
Encoded Label: 3
182
------------
Original Class: ND
Encoded Label: 1
183
------------
Original Class: ND
Encoded Label: 1
184
------------
Original Class: DT
Encoded Label: 0
185
------------
Original Class: ND
Encoded Label: 1
186
------------
Original Class: DT
Encoded Label: 0
187
------------
Original Class: ND
Encoded Label: 1
188
------------
Original Class: NE
Encoded Label: 2
189
------------
Original Class: NW
Encoded Label: 3
190
------------
Original Class: NE
Encoded Label: 2
191
------------
Original Class: ND
Encoded Label: 1
192
------------
Original Class: NW
Encoded Label: 3
193
------------
Original Class: NE
Encoded Label: 2
194
------------
Original Class: NW
Encoded Label: 3
195
------------
Original Class: DT
Encoded Label: 0
196
------------
Original Class: DT
Encoded Label: 0
197
------------
Original Class: DT
Encoded Label: 0
198
------------
Original Class: DT
Encoded Label: 0
199
------------
Original Class: NW
Encoded Label: 3
200
------------
Original Class: SW
Encoded Label: 5
201
------------
Original Class: NE
Encoded Label: 2
202
------------
Original Class: SW
Encoded Label: 5
203
------------
Original Class: DT
Encoded Label: 0
204
------------
Original Class: DT
Encoded Label: 0
205
------------
Original Class: DT
Encoded Label: 0
206
------------
Original Class: ND
Encoded Label: 1
207
------------
Original Class: DT
Encoded Label: 0
208
------------
Original Class: DT
Encoded Label: 0
209
------------
Original Class: ND
Encoded Label: 1
210
------------
Original Class: DT
Encoded Label: 0
211
------------
Original Class: DT
Encoded Label: 0
212
------------
Original Class: NE
Encoded Label: 2
213
------------
Original Class: NE
Encoded Label: 2
214
------------
Original Class: SW
Encoded Label: 5
215
------------
Original Class: ND
Encoded Label: 1
216
------------
Original Class: ND
Encoded Label: 1
217
------------
Original Class: NE
Encoded Label: 2
218
------------
Original Class: SE
Encoded Label: 4
219
------------
Original Class: SW
Encoded Label: 5
220
------------
Original Class: SE
Encoded Label: 4
221
------------
Original Class: NE
Encoded Label: 2
222
------------
Original Class: NW
Encoded Label: 3
223
------------
Original Class: ND
Encoded Label: 1
224
------------
Original Class: NE
Encoded Label: 2
225
------------
Original Class: DT
Encoded Label: 0
226
------------
Original Class: SE
Encoded Label: 4
227
------------
Original Class: SE
Encoded Label: 4
228
------------
Original Class: NE
Encoded Label: 2
229
------------
Original Class: NW
Encoded Label: 3
230
------------
Original Class: SW
Encoded Label: 5
231
------------
Original Class: NE
Encoded Label: 2
232
------------
Original Class: NE
Encoded Label: 2
233
------------
Original Class: NW
Encoded Label: 3
234
------------
Original Class: NE
Encoded Label: 2
235
------------
Original Class: ND
Encoded Label: 1
236
------------
Original Class: SE
Encoded Label: 4
237
------------
Original Class: SW
Encoded Label: 5
238
------------
Original Class: NE
Encoded Label: 2
239
------------
Original Class: ND
Encoded Label: 1
240
------------
Original Class: DT
Encoded Label: 0
241
------------
Original Class: NE
Encoded Label: 2
242
------------
Original Class: DT
Encoded Label: 0
243
------------
Original Class: NW
Encoded Label: 3
244
------------
Original Class: DT
Encoded Label: 0
245
------------
Original Class: NW
Encoded Label: 3
246
------------
Original Class: SE
Encoded Label: 4
247
------------
Original Class: NE
Encoded Label: 2
248
------------
Original Class: DT
Encoded Label: 0
249
------------
Original Class: SW
Encoded Label: 5
250
------------
Original Class: SW
Encoded Label: 5
251
------------
Original Class: NW
Encoded Label: 3
252
------------
Original Class: NE
Encoded Label: 2
253
------------
Original Class: DT
Encoded Label: 0
254
------------
Original Class: NE
Encoded Label: 2
255
------------
Original Class: SW
Encoded Label: 5
256
------------
Original Class: SW
Encoded Label: 5
257
------------
Original Class: ND
Encoded Label: 1
258
------------
Original Class: SW
Encoded Label: 5
259
------------
Original Class: NW
Encoded Label: 3
260
------------
Original Class: DT
Encoded Label: 0
261
------------
Original Class: NE
Encoded Label: 2
262
------------
Original Class: NW
Encoded Label: 3
263
------------
Original Class: NW
Encoded Label: 3
264
------------
Original Class: SE
Encoded Label: 4
265
------------
Original Class: SW
Encoded Label: 5
266
------------
Original Class: ND
Encoded Label: 1
267
------------
Original Class: NE
Encoded Label: 2
268
------------
Original Class: SW
Encoded Label: 5
269
------------
Original Class: SE
Encoded Label: 4
270
------------
Original Class: SE
Encoded Label: 4
271
------------
Original Class: NW
Encoded Label: 3
272
------------
Original Class: NW
Encoded Label: 3
273
------------
Original Class: NE
Encoded Label: 2
274
------------
Original Class: SE
Encoded Label: 4
275
------------
Original Class: NE
Encoded Label: 2
276
------------
Original Class: DT
Encoded Label: 0
277
------------
Original Class: NE
Encoded Label: 2
278
------------
Original Class: SW
Encoded Label: 5
279
------------
Original Class: SE
Encoded Label: 4
280
------------
Original Class: NW
Encoded Label: 3
281
------------
Original Class: SE
Encoded Label: 4
282
------------
Original Class: NE
Encoded Label: 2
283
------------
Original Class: ND
Encoded Label: 1
284
------------
Original Class: ND
Encoded Label: 1
285
------------
Original Class: NW
Encoded Label: 3
286
------------
Original Class: NW
Encoded Label: 3
287
------------
Original Class: SW
Encoded Label: 5
288
------------
Original Class: NE
Encoded Label: 2
289
------------
Original Class: DT
Encoded Label: 0
290
------------
Original Class: ND
Encoded Label: 1
291
------------
Original Class: NW
Encoded Label: 3
292
------------
Original Class: SE
Encoded Label: 4
293
------------
Original Class: NW
Encoded Label: 3
294
------------
Original Class: NW
Encoded Label: 3
295
------------
Original Class: NE
Encoded Label: 2
296
------------
Original Class: SE
Encoded Label: 4
297
------------
Original Class: SW
Encoded Label: 5
298
------------
Original Class: SW
Encoded Label: 5
299
------------
Original Class: NW
Encoded Label: 3
300
------------
Original Class: SW
Encoded Label: 5
301
------------
Original Class: ND
Encoded Label: 1
302
------------
Original Class: SW
Encoded Label: 5
303
------------
Original Class: NE
Encoded Label: 2
304
------------
Original Class: NE
Encoded Label: 2
305
------------
Original Class: NW
Encoded Label: 3
306
------------
Original Class: NE
Encoded Label: 2
307
------------
Original Class: SW
Encoded Label: 5
308
------------
Original Class: SW
Encoded Label: 5
309
------------
Original Class: ND
Encoded Label: 1
310
------------
Original Class: SE
Encoded Label: 4
311
------------
Original Class: NW
Encoded Label: 3
312
------------
Original Class: NE
Encoded Label: 2
313
------------
Original Class: NE
Encoded Label: 2
314
------------
Original Class: ND
Encoded Label: 1
315
------------
Original Class: NE
Encoded Label: 2
316
------------
Original Class: SE
Encoded Label: 4
317
------------
Original Class: NW
Encoded Label: 3
318
------------
Original Class: SW
Encoded Label: 5
319
------------
Original Class: NE
Encoded Label: 2
320
------------
Original Class: SE
Encoded Label: 4
321
------------
Original Class: NE
Encoded Label: 2
322
------------
Original Class: NW
Encoded Label: 3
323
------------
Original Class: NE
Encoded Label: 2
324
------------
Original Class: NE
Encoded Label: 2
325
------------
Original Class: ND
Encoded Label: 1
326
------------
Original Class: NE
Encoded Label: 2
327
------------
Original Class: SE
Encoded Label: 4
328
------------
Original Class: SE
Encoded Label: 4
329
------------
Original Class: NE
Encoded Label: 2
330
------------
Original Class: SW
Encoded Label: 5
331
------------
Original Class: NE
Encoded Label: 2
332
------------
Original Class: SE
Encoded Label: 4
333
------------
Original Class: NW
Encoded Label: 3
334
------------
Original Class: DT
Encoded Label: 0
335
------------
Original Class: NW
Encoded Label: 3
336
------------
Original Class: NE
Encoded Label: 2
337
------------
Original Class: DT
Encoded Label: 0
338
------------
Original Class: SW
Encoded Label: 5
339
------------
Original Class: SE
Encoded Label: 4
340
------------
Original Class: NE
Encoded Label: 2
341
------------
Original Class: SE
Encoded Label: 4
342
------------
Original Class: ND
Encoded Label: 1
343
------------
Original Class: ND
Encoded Label: 1
344
------------
Original Class: ND
Encoded Label: 1
345
------------
Original Class: SW
Encoded Label: 5
346
------------
Original Class: SE
Encoded Label: 4
347
------------
Original Class: SW
Encoded Label: 5
348
------------
Original Class: NE
Encoded Label: 2
349
------------
Original Class: DT
Encoded Label: 0
350
------------
Original Class: NE
Encoded Label: 2
351
------------
Original Class: NE
Encoded Label: 2
352
------------
Original Class: DT
Encoded Label: 0
353
------------
Original Class: NE
Encoded Label: 2
354
------------
Original Class: SE
Encoded Label: 4
355
------------
Original Class: NW
Encoded Label: 3
356
------------
Original Class: SW
Encoded Label: 5
357
------------
Original Class: DT
Encoded Label: 0
358
------------
Original Class: NW
Encoded Label: 3
359
------------
Original Class: NE
Encoded Label: 2
360
------------
Original Class: ND
Encoded Label: 1
361
------------
Original Class: ND
Encoded Label: 1
362
------------
Original Class: NE
Encoded Label: 2
363
------------
Original Class: NE
Encoded Label: 2
364
------------
Original Class: NW
Encoded Label: 3
365
------------
Original Class: SW
Encoded Label: 5
366
------------
Original Class: SW
Encoded Label: 5
367
------------
Original Class: ND
Encoded Label: 1
368
------------
Original Class: SW
Encoded Label: 5
369
------------
Original Class: SW
Encoded Label: 5
370
------------
Original Class: NW
Encoded Label: 3
371
------------
Original Class: NE
Encoded Label: 2
372
------------
Original Class: NE
Encoded Label: 2
373
------------
Original Class: ND
Encoded Label: 1
374
------------
Original Class: SW
Encoded Label: 5
375
------------
Original Class: SW
Encoded Label: 5
376
------------
Original Class: NE
Encoded Label: 2
377
------------
Original Class: NE
Encoded Label: 2
378
------------
Original Class: SE
Encoded Label: 4
379
------------
Original Class: ND

# Encode streets and Crime

In [35]:
Bike_value =features_df["CRIME"]
ADDRESS_value =features_df["ADDRESS"]

In [36]:
# Convert Bike values
# Step 1: Label-encode data set

label_encoder = LabelEncoder()
label_encoder.fit(Bike_value)
encoded_Bike_vale = label_encoder.transform(Bike_value)

In [37]:
# Display Bike values
n= 0
for label, original_class in zip(encoded_Bike_vale , Bike_value):
    print('Original Class: ' + str(original_class))
    print('Encoded Label: ' + str(label))    
    n=n+1
    print(n)
    print('-' * 12)

Original Class: Over 200$
Encoded Label: 1
1
------------
Original Class: Over 200$
Encoded Label: 1
2
------------
Original Class: Over 200$
Encoded Label: 1
3
------------
Original Class: Over 200$
Encoded Label: 1
4
------------
Original Class: Over 200$
Encoded Label: 1
5
------------
Original Class: Over 200$
Encoded Label: 1
6
------------
Original Class: Over 200$
Encoded Label: 1
7
------------
Original Class: Over 200$
Encoded Label: 1
8
------------
Original Class: Over 200$
Encoded Label: 1
9
------------
Original Class: Over 200$
Encoded Label: 1
10
------------
Original Class: Over 200$
Encoded Label: 1
11
------------
Original Class: Over 200$
Encoded Label: 1
12
------------
Original Class: Over 200$
Encoded Label: 1
13
------------
Original Class: Over 200$
Encoded Label: 1
14
------------
Original Class: Over 200$
Encoded Label: 1
15
------------
Original Class: Over 200$
Encoded Label: 1
16
------------
Original Class: Over 200$
Encoded Label: 1
17
------------
Original Class: Over 200$
Encoded Label: 1
18
------------
Original Class: Over 200$
Encoded Label: 1
19
------------
Original Class: Over 200$
Encoded Label: 1
20
------------
Original Class: Over 200$
Encoded Label: 1
21
------------
Original Class: Over 200$
Encoded Label: 1
22
------------
Original Class: Over 200$
Encoded Label: 1
23
------------
Original Class: Over 200$
Encoded Label: 1
24
------------
Original Class: Over 200$
Encoded Label: 1
25
------------
Original Class: Over 200$
Encoded Label: 1
26
------------
Original Class: Over 200$
Encoded Label: 1
27
------------
Original Class: Over 200$
Encoded Label: 1
28
------------
Original Class: Over 200$
Encoded Label: 1
29
------------
Original Class: Over 200$
Encoded Label: 1
30
------------
Original Class: Over 200$
Encoded Label: 1
31
------------
Original Class: Over 200$
Encoded Label: 1
32
------------
Original Class: Over 200$
Encoded Label: 1
33
------------
Original Class: Over 200$
Encoded Label: 1
34
------------
Original Class: Over 200$
Encoded Label: 1
35
------------
Original Class: Over 200$
Encoded Label: 1
36
------------
Original Class: Over 200$
Encoded Label: 1
37
------------
Original Class: Over 200$
Encoded Label: 1
38
------------
Original Class: Over 200$
Encoded Label: 1
39
------------
Original Class: Over 200$
Encoded Label: 1
40
------------
Original Class: Over 200$
Encoded Label: 1
41
------------
Original Class: Over 200$
Encoded Label: 1
42
------------
Original Class: Over 200$
Encoded Label: 1
43
------------
Original Class: Over 200$
Encoded Label: 1
44
------------
Original Class: Over 200$
Encoded Label: 1
45
------------
Original Class: Over 200$
Encoded Label: 1
46
------------
Original Class: Over 200$
Encoded Label: 1
47
------------
Original Class: Over 200$
Encoded Label: 1
48
------------
Original Class: Over 200$
Encoded Label: 1
49
------------
Original Class: Over 200$
Encoded Label: 1
50
------------
Original Class: Over 200$
Encoded Label: 1
51
------------
Original Class: Over 200$
Encoded Label: 1
52
------------
Original Class: Over 200$
Encoded Label: 1
53
------------
Original Class: Over 200$
Encoded Label: 1
54
------------
Original Class: Over 200$
Encoded Label: 1
55
------------
Original Class: Over 200$
Encoded Label: 1
56
------------
Original Class: Over 200$
Encoded Label: 1
57
------------
Original Class: Over 200$
Encoded Label: 1
58
------------
Original Class: Over 200$
Encoded Label: 1
59
------------
Original Class: Over 200$
Encoded Label: 1
60
------------
Original Class: Over 200$
Encoded Label: 1
61
------------
Original Class: Over 200$
Encoded Label: 1
62
------------
Original Class: Over 200$
Encoded Label: 1
63
------------
Original Class: Over 200$
Encoded Label: 1
64
------------
Original Class: Over 200$
Encoded Label: 1
65
------------
Original Class: Over 200$
Encoded Label: 1
66
------------
Original Class: Over 200$
Encoded Label: 1
67
------------
Original Class: Over 200$
Encoded Label: 1
68
------------
Original Class: Over 200$
Encoded Label: 1
69
------------
Original Class: Over 200$
Encoded Label: 1
70
------------
Original Class: Over 200$
Encoded Label: 1
71
------------
Original Class: Over 200$
Encoded Label: 1
72
------------
Original Class: Over 200$
Encoded Label: 1
73
------------
Original Class: Over 200$
Encoded Label: 1
74
------------
Original Class: Over 200$
Encoded Label: 1
75
------------
Original Class: Over 200$
Encoded Label: 1
76
------------
Original Class: Over 200$
Encoded Label: 1
77
------------
Original Class: Over 200$
Encoded Label: 1
78
------------
Original Class: Over 200$
Encoded Label: 1
79
------------
Original Class: Over 200$
Encoded Label: 1
80
------------
Original Class: Over 200$
Encoded Label: 1
81
------------
Original Class: Over 200$
Encoded Label: 1
82
------------
Original Class: Over 200$
Encoded Label: 1
83
------------
Original Class: Over 200$
Encoded Label: 1
84
------------
Original Class: Over 200$
Encoded Label: 1
85
------------
Original Class: Over 200$
Encoded Label: 1
86
------------
Original Class: Over 200$
Encoded Label: 1
87
------------
Original Class: Over 200$
Encoded Label: 1
88
------------
Original Class: Over 200$
Encoded Label: 1
89
------------
Original Class: Over 200$
Encoded Label: 1
90
------------
Original Class: Over 200$
Encoded Label: 1
91
------------
Original Class: Over 200$
Encoded Label: 1
92
------------
Original Class: Over 200$
Encoded Label: 1
93
------------
Original Class: Over 200$
Encoded Label: 1
94
------------
Original Class: Over 200$
Encoded Label: 1
95
------------
Original Class: Over 200$
Encoded Label: 1
96
------------
Original Class: Over 200$
Encoded Label: 1
97
------------
Original Class: Over 200$
Encoded Label: 1
98
------------
Original Class: Over 200$
Encoded Label: 1
99
------------
Original Class: Over 200$
Encoded Label: 1
100
------------
Original Class: Over 200$
Encoded Label: 1
101
------------
Original Class: Over 200$
Encoded Label: 1
102
------------
Original Class: Over 200$
Encoded Label: 1
103
------------
Original Class: Over 200$
Encoded Label: 1
104
------------
Original Class: Over 200$
Encoded Label: 1
105
------------
Original Class: Over 200$
Encoded Label: 1
106
------------
Original Class: Over 200$
Encoded Label: 1
107
------------
Original Class: Over 200$
Encoded Label: 1
108
------------
Original Class: Over 200$
Encoded Label: 1
109
------------
Original Class: Over 200$
Encoded Label: 1
110
------------
Original Class: Over 200$
Encoded Label: 1
111
------------
Original Class: Over 200$
Encoded Label: 1
112
------------
Original Class: Over 200$
Encoded Label: 1
113
------------
Original Class: Over 200$
Encoded Label: 1
114
------------
Original Class: Over 200$
Encoded Label: 1
115
------------
Original Class: Over 200$
Encoded Label: 1
116
------------
Original Class: Over 200$
Encoded Label: 1
117
------------
Original Class: Over 200$
Encoded Label: 1
118
------------
Original Class: Over 200$
Encoded Label: 1
119
------------
Original Class: Over 200$
Encoded Label: 1
120
------------
Original Class: Over 200$
Encoded Label: 1
121
------------
Original Class: Over 200$
Encoded Label: 1
122
------------
Original Class: Over 200$
Encoded Label: 1
123
------------
Original Class: Over 200$
Encoded Label: 1
124
------------
Original Class: Over 200$
Encoded Label: 1
125
------------
Original Class: Over 200$
Encoded Label: 1
126
------------
Original Class: Over 200$
Encoded Label: 1
127
------------
Original Class: Over 200$
Encoded Label: 1
128
------------
Original Class: Over 200$
Encoded Label: 1
129
------------
Original Class: Over 200$
Encoded Label: 1
130
------------
Original Class: Over 200$
Encoded Label: 1
131
------------
Original Class: Over 200$
Encoded Label: 1
132
------------
Original Class: Over 200$
Encoded Label: 1
133
------------
Original Class: Over 200$
Encoded Label: 1
134
------------
Original Class: Over 200$
Encoded Label: 1
135
------------
Original Class: Over 200$
Encoded Label: 1
136
------------
Original Class: Over 200$
Encoded Label: 1
137
------------
Original Class: Over 200$
Encoded Label: 1
138
------------
Original Class: Over 200$
Encoded Label: 1
139
------------
Original Class: Over 200$
Encoded Label: 1
140
------------
Original Class: Over 200$
Encoded Label: 1
141
------------
Original Class: Over 200$
Encoded Label: 1
142
------------
Original Class: Over 200$
Encoded Label: 1
143
------------
Original Class: Over 200$
Encoded Label: 1
144
------------
Original Class: Over 200$
Encoded Label: 1
145
------------
Original Class: Over 200$
Encoded Label: 1
146
------------
Original Class: Over 200$
Encoded Label: 1
147
------------
Original Class: Over 200$
Encoded Label: 1
148
------------
Original Class: Over 200$
Encoded Label: 1
149
------------
Original Class: Over 200$
Encoded Label: 1
150
------------
Original Class: Over 200$
Encoded Label: 1
151
------------
Original Class: Over 200$
Encoded Label: 1
152
------------
Original Class: Over 200$
Encoded Label: 1
153
------------
Original Class: Over 200$
Encoded Label: 1
154
------------
Original Class: Over 200$
Encoded Label: 1
155
------------
Original Class: Over 200$
Encoded Label: 1
156
------------
Original Class: Over 200$
Encoded Label: 1
157
------------
Original Class: Over 200$
Encoded Label: 1
158
------------
Original Class: Over 200$
Encoded Label: 1
159
------------
Original Class: Over 200$
Encoded Label: 1
160
------------
Original Class: Over 200$
Encoded Label: 1
161
------------
Original Class: Over 200$
Encoded Label: 1
162
------------
Original Class: Over 200$
Encoded Label: 1
163
------------
Original Class: Over 200$
Encoded Label: 1
164
------------
Original Class: Over 200$
Encoded Label: 1
165
------------
Original Class: Over 200$
Encoded Label: 1
166
------------
Original Class: Over 200$
Encoded Label: 1
167
------------
Original Class: Over 200$
Encoded Label: 1
168
------------
Original Class: Over 200$
Encoded Label: 1
169
------------
Original Class: Over 200$
Encoded Label: 1
170
------------
Original Class: Over 200$
Encoded Label: 1
171
------------
Original Class: Over 200$
Encoded Label: 1
172
------------
Original Class: Over 200$
Encoded Label: 1
173
------------
Original Class: Over 200$
Encoded Label: 1
174
------------
Original Class: Over 200$
Encoded Label: 1
175
------------
Original Class: Over 200$
Encoded Label: 1
176
------------
Original Class: Over 200$
Encoded Label: 1
177
------------
Original Class: Over 200$
Encoded Label: 1
178
------------
Original Class: Over 200$
Encoded Label: 1
179
------------
Original Class: Over 200$
Encoded Label: 1
180
------------
Original Class: Over 200$
Encoded Label: 1
181
------------
Original Class: Over 200$
Encoded Label: 1
182
------------
Original Class: Over 200$
Encoded Label: 1
183
------------
Original Class: Over 200$
Encoded Label: 1
184
------------
Original Class: Over 200$
Encoded Label: 1
185
------------
Original Class: Over 200$
Encoded Label: 1
186
------------
Original Class: Over 200$
Encoded Label: 1
187
------------
Original Class: Over 200$
Encoded Label: 1
188
------------
Original Class: Over 200$
Encoded Label: 1
189
------------
Original Class: Over 200$
Encoded Label: 1
190
------------
Original Class: Over 200$
Encoded Label: 1
191
------------
Original Class: Over 200$
Encoded Label: 1
192
------------
Original Class: Over 200$
Encoded Label: 1
193
------------
Original Class: Over 200$
Encoded Label: 1
194
------------
Original Class: Over 200$
Encoded Label: 1
195
------------
Original Class: Over 200$
Encoded Label: 1
196
------------
Original Class: Over 200$
Encoded Label: 1
197
------------
Original Class: Over 200$
Encoded Label: 1
198
------------
Original Class: Over 200$
Encoded Label: 1
199
------------
Original Class: Over 200$
Encoded Label: 1
200
------------
Original Class: Over 200$
Encoded Label: 1
201
------------
Original Class: Over 200$
Encoded Label: 1
202
------------
Original Class: Over 200$
Encoded Label: 1
203
------------
Original Class: Over 200$
Encoded Label: 1
204
------------
Original Class: Over 200$
Encoded Label: 1
205
------------
Original Class: Over 200$
Encoded Label: 1
206
------------
Original Class: Over 200$
Encoded Label: 1
207
------------
Original Class: Over 200$
Encoded Label: 1
208
------------
Original Class: Over 200$
Encoded Label: 1
209
------------
Original Class: Over 200$
Encoded Label: 1
210
------------
Original Class: Over 200$
Encoded Label: 1
211
------------
Original Class: Over 200$
Encoded Label: 1
212
------------
Original Class: 50$ to 200$
Encoded Label: 0
213
------------
Original Class: 50$ to 200$
Encoded Label: 0
214
------------
Original Class: 50$ to 200$
Encoded Label: 0
215
------------
Original Class: 50$ to 200$
Encoded Label: 0
216
------------
Original Class: 50$ to 200$
Encoded Label: 0
217
------------
Original Class: 50$ to 200$
Encoded Label: 0
218
------------
Original Class: 50$ to 200$
Encoded Label: 0
219
------------
Original Class: 50$ to 200$
Encoded Label: 0
220
------------
Original Class: 50$ to 200$
Encoded Label: 0
221
------------
Original Class: 50$ to 200$
Encoded Label: 0
222
------------
Original Class: 50$ to 200$
Encoded Label: 0
223
------------
Original Class: 50$ to 200$
Encoded Label: 0
224
------------
Original Class: 50$ to 200$
Encoded Label: 0
225
------------
Original Class: 50$ to 200$
Encoded Label: 0
226
------------
Original Class: 50$ to 200$
Encoded Label: 0
227
------------
Original Class: 50$ to 200$
Encoded Label: 0
228
------------
Original Class: 50$ to 200$
Encoded Label: 0
229
------------
Original Class: 50$ to 200$
Encoded Label: 0
230
------------
Original Class: 50$ to 200$
Encoded Label: 0
231
------------
Original Class: 50$ to 200$
Encoded Label: 0
232
------------
Original Class: 50$ to 200$
Encoded Label: 0
233
------------
Original Class: 50$ to 200$
Encoded Label: 0
234
------------
Original Class: 50$ to 200$
Encoded Label: 0
235
------------
Original Class: 50$ to 200$
Encoded Label: 0
236
------------
Original Class: 50$ to 200$
Encoded Label: 0
237
------------
Original Class: 50$ to 200$
Encoded Label: 0
238
------------
Original Class: 50$ to 200$
Encoded Label: 0
239
------------
Original Class: 50$ to 200$
Encoded Label: 0
240
------------
Original Class: 50$ to 200$
Encoded Label: 0
241
------------
Original Class: 50$ to 200$
Encoded Label: 0
242
------------
Original Class: 50$ to 200$
Encoded Label: 0
243
------------
Original Class: 50$ to 200$
Encoded Label: 0
244
------------
Original Class: 50$ to 200$
Encoded Label: 0
245
------------
Original Class: 50$ to 200$
Encoded Label: 0
246
------------
Original Class: 50$ to 200$
Encoded Label: 0
247
------------
Original Class: 50$ to 200$
Encoded Label: 0
248
------------
Original Class: 50$ to 200$
Encoded Label: 0
249
------------
Original Class: 50$ to 200$
Encoded Label: 0
250
------------
Original Class: 50$ to 200$
Encoded Label: 0
251
------------
Original Class: 50$ to 200$
Encoded Label: 0
252
------------
Original Class: 50$ to 200$
Encoded Label: 0
253
------------
Original Class: 50$ to 200$
Encoded Label: 0
254
------------
Original Class: 50$ to 200$
Encoded Label: 0
255
------------
Original Class: 50$ to 200$
Encoded Label: 0
256
------------
Original Class: 50$ to 200$
Encoded Label: 0
257
------------
Original Class: 50$ to 200$
Encoded Label: 0
258
------------
Original Class: 50$ to 200$
Encoded Label: 0
259
------------
Original Class: 50$ to 200$
Encoded Label: 0
260
------------
Original Class: 50$ to 200$
Encoded Label: 0
261
------------
Original Class: 50$ to 200$
Encoded Label: 0
262
------------
Original Class: 50$ to 200$
Encoded Label: 0
263
------------
Original Class: 50$ to 200$
Encoded Label: 0
264
------------
Original Class: 50$ to 200$
Encoded Label: 0
265
------------
Original Class: 50$ to 200$
Encoded Label: 0
266
------------
Original Class: 50$ to 200$
Encoded Label: 0
267
------------
Original Class: 50$ to 200$
Encoded Label: 0
268
------------
Original Class: 50$ to 200$
Encoded Label: 0
269
------------
Original Class: 50$ to 200$
Encoded Label: 0
270
------------
Original Class: 50$ to 200$
Encoded Label: 0
271
------------
Original Class: 50$ to 200$
Encoded Label: 0
272
------------
Original Class: 50$ to 200$
Encoded Label: 0
273
------------
Original Class: 50$ to 200$
Encoded Label: 0
274
------------
Original Class: 50$ to 200$
Encoded Label: 0
275
------------
Original Class: 50$ to 200$
Encoded Label: 0
276
------------
Original Class: 50$ to 200$
Encoded Label: 0
277
------------
Original Class: 50$ to 200$
Encoded Label: 0
278
------------
Original Class: 50$ to 200$
Encoded Label: 0
279
------------
Original Class: 50$ to 200$
Encoded Label: 0
280
------------
Original Class: 50$ to 200$
Encoded Label: 0
281
------------
Original Class: 50$ to 200$
Encoded Label: 0
282
------------
Original Class: 50$ to 200$
Encoded Label: 0
283
------------
Original Class: 50$ to 200$
Encoded Label: 0
284
------------
Original Class: 50$ to 200$
Encoded Label: 0
285
------------
Original Class: 50$ to 200$
Encoded Label: 0
286
------------
Original Class: 50$ to 200$
Encoded Label: 0
287
------------
Original Class: 50$ to 200$
Encoded Label: 0
288
------------
Original Class: 50$ to 200$
Encoded Label: 0
289
------------
Original Class: 50$ to 200$
Encoded Label: 0
290
------------
Original Class: 50$ to 200$
Encoded Label: 0
291
------------
Original Class: 50$ to 200$
Encoded Label: 0
292
------------
Original Class: 50$ to 200$
Encoded Label: 0
293
------------
Original Class: 50$ to 200$
Encoded Label: 0
294
------------
Original Class: 50$ to 200$
Encoded Label: 0
295
------------
Original Class: 50$ to 200$
Encoded Label: 0
296
------------
Original Class: 50$ to 200$
Encoded Label: 0
297
------------
Original Class: 50$ to 200$
Encoded Label: 0
298
------------
Original Class: 50$ to 200$
Encoded Label: 0
299
------------
Original Class: 50$ to 200$
Encoded Label: 0
300
------------
Original Class: 50$ to 200$
Encoded Label: 0
301
------------
Original Class: 50$ to 200$
Encoded Label: 0
302
------------
Original Class: 50$ to 200$
Encoded Label: 0
303
------------
Original Class: 50$ to 200$
Encoded Label: 0
304
------------
Original Class: 50$ to 200$
Encoded Label: 0
305
------------
Original Class: 50$ to 200$
Encoded Label: 0
306
------------
Original Class: 50$ to 200$
Encoded Label: 0
307
------------
Original Class: 50$ to 200$
Encoded Label: 0
308
------------
Original Class: 50$ to 200$
Encoded Label: 0
309
------------
Original Class: 50$ to 200$
Encoded Label: 0
310
------------
Original Class: 50$ to 200$
Encoded Label: 0
311
------------
Original Class: 50$ to 200$
Encoded Label: 0
312
------------
Original Class: 50$ to 200$
Encoded Label: 0
313
------------
Original Class: 50$ to 200$
Encoded Label: 0
314
------------
Original Class: 50$ to 200$
Encoded Label: 0
315
------------
Original Class: 50$ to 200$
Encoded Label: 0
316
------------
Original Class: 50$ to 200$
Encoded Label: 0
317
------------
Original Class: 50$ to 200$
Encoded Label: 0
318
------------
Original Class: 50$ to 200$
Encoded Label: 0
319
------------
Original Class: 50$ to 200$
Encoded Label: 0
320
------------
Original Class: 50$ to 200$
Encoded Label: 0
321
------------
Original Class: 50$ to 200$
Encoded Label: 0
322
------------
Original Class: 50$ to 200$
Encoded Label: 0
323
------------
Original Class: 50$ to 200$
Encoded Label: 0
324
------------
Original Class: 50$ to 200$
Encoded Label: 0
325
------------
Original Class: 50$ to 200$
Encoded Label: 0
326
------------
Original Class: 50$ to 200$
Encoded Label: 0
327
------------
Original Class: 50$ to 200$
Encoded Label: 0
328
------------
Original Class: 50$ to 200$
Encoded Label: 0
329
------------
Original Class: 50$ to 200$
Encoded Label: 0
330
------------
Original Class: 50$ to 200$
Encoded Label: 0
331
------------

487
------------
Original Class: 50$ to 200$
Encoded Label: 0
488
------------
Original Class: 50$ to 200$
Encoded Label: 0
489
------------
Original Class: Under 50$
Encoded Label: 2
490
------------
Original Class: Under 50$
Encoded Label: 2
491
------------
Original Class: Under 50$
Encoded Label: 2
492
------------
Original Class: Under 50$
Encoded Label: 2
493
------------
Original Class: Under 50$
Encoded Label: 2
494
------------
Original Class: Under 50$
Encoded Label: 2
495
------------
Original Class: Under 50$
Encoded Label: 2
496
------------
Original Class: Under 50$
Encoded Label: 2
497
------------
Original Class: Under 50$
Encoded Label: 2
498
------------
Original Class: Under 50$
Encoded Label: 2
499
------------
Original Class: Under 50$
Encoded Label: 2
500
------------
Original Class: Under 50$
Encoded Label: 2
501
------------
Original Class: Under 50$
Encoded Label: 2
502
------------
Original Class: Under 50$
Encoded Label: 2
503
------------
Original Class: Under 50$
Encoded Label: 2
504
------------
Original Class: Under 50$
Encoded Label: 2
505
------------
Original Class: Under 50$
Encoded Label: 2
506
------------
Original Class: Under 50$
Encoded Label: 2
507
------------
Original Class: Under 50$
Encoded Label: 2
508
------------
Original Class: Under 50$
Encoded Label: 2
509
------------
Original Class: Under 50$
Encoded Label: 2
510
------------
Original Class: Under 50$
Encoded Label: 2
511
------------
Original Class: Under 50$
Encoded Label: 2
512
------------
Original Class: Under 50$
Encoded Label: 2
513
------------
Original Class: Under 50$
Encoded Label: 2
514
------------
Original Class: Under 50$
Encoded Label: 2
515
------------
Original Class: Under 50$
Encoded Label: 2
516
------------
Original Class: Under 50$
Encoded Label: 2
517
------------
Original Class: Under 50$
Encoded Label: 2
518
------------
Original Class: Under 50$
Encoded Label: 2
519
------------

In [38]:
# Convert Address values
# Step 1: Label-encode data set

label_encoder = LabelEncoder()
label_encoder.fit(ADDRESS_value)
encoded_ADDRESS_value = label_encoder.transform(ADDRESS_value)

In [39]:
# Display Bike values
n= 0
for label, original_class in zip(encoded_ADDRESS_value, ADDRESS_value):
    print('Original Class: ' + str(original_class))
    print('Encoded Label: ' + str(label))    
    n=n+1
    print(n)
    print('-' * 12)

Original Class: 1308 CENTRAL AV
Encoded Label: 49
1
------------
Original Class: 1204 CENTRAL AV
Encoded Label: 39
2
------------
Original Class: 1209 S RANDOLPH ST
Encoded Label: 40
3
------------
Original Class: 7637 SANTA BARBARA DR
Encoded Label: 396
4
------------
Original Class: E 10TH ST & N TUXEDO ST
Encoded Label: 460
5
------------
Original Class: 37 W 38TH ST
Encoded Label: 218
6
------------
Original Class: 611 N CAPITOL AV
Encoded Label: 351
7
------------
Original Class: 7409 CAROLLING WAY
Encoded Label: 391
8
------------
Original Class: 55 MONUMENT CR
Encoded Label: 330
9
------------
Original Class: 1642 S TALBOTT ST
Encoded Label: 87
10
------------
Original Class: 1728 E KELLY ST
Encoded Label: 93
11
------------
Original Class: 1201 INDIANA AV
Encoded Label: 38
12
------------
Original Class: 327 W SOUTHERN AV
Encoded Label: 188
13
------------
Original Class: 1416 PLEASANT ST
Encoded Label: 61
14
------------
Original Class: 3819 PEBBLE CREEK DR
Encoded Label: 225
15
------------
Original Class: 835 E 81ST ST
Encoded Label: 418
16
------------
Original Class: 927 N PENNSYLVANIA ST
Encoded Label: 446
17
------------
Original Class: 5267 OAK LEAF DR
Encoded Label: 319
18
------------
Original Class: 427 N COLLEGE AV
Encoded Label: 255
19
------------
Original Class: 1140 DR M L KING JR ST
Encoded Label: 32
20
------------
Original Class: 7509 NEW AUGUSTA RD
Encoded Label: 393
21
------------
Original Class: 450 S MERIDIAN ST
Encoded Label: 275
22
------------
Original Class: 2403 N DELAWARE ST
Encoded Label: 137
23
------------
Original Class: 846 N TUXEDO ST
Encoded Label: 421
24
------------
Original Class: 6770 STANHOPE WAY
Encoded Label: 378
25
------------
Original Class: 1 VIRGINIA AV
Encoded Label: 0
26
------------
Original Class: 1327 SANDY ANN LN
Encoded Label: 53
27
------------
Original Class: 924 BROAD RIPPLE AV
Encoded Label: 444
28
------------
Original Class: 1749 S DELAWARE ST
Encoded Label: 97
29
------------
Original Class: 4350 N COLLEGE AV
Encoded Label: 262
30
------------
Original Class: 623 LOCKERBIE ST
Encoded Label: 358
31
------------
Original Class: 5960 E 42ND ST
Encoded Label: 344
32
------------
Original Class: 101 W OHIO ST
Encoded Label: 9
33
------------
Original Class: 6101 N KEYSTONE AV
Encoded Label: 349
34
------------
Original Class: 501 MADISON AV
Encoded Label: 302
35
------------
Original Class: 9306 CHERRY VALLEY CT
Encoded Label: 448
36
------------
Original Class: 5925 CARVEL AV
Encoded Label: 341
37
------------
Original Class: 1099 N MERIDIAN ST
Encoded Label: 25
38
------------
Original Class: 1701 SENATE BL
Encoded Label: 91
39
------------
Original Class: 8027 MC FARLAND CT
Encoded Label: 407
40
------------
Original Class: 1365 E 86TH ST
Encoded Label: 55
41
------------
Original Class: 222 N EAST ST
Encoded Label: 124
42
------------
Original Class: 4425 S EMERSON AV
Encoded Label: 270
43
------------
Original Class: 225 N NEW JERSEY STREET
Encoded Label: 130
44
------------
Original Class: 914 DORMAN ST
Encoded Label: 440
45
------------
Original Class: 1022 DR M L KING JR ST
Encoded Label: 16
46
------------
Original Class: 5820 W 56TH ST
Encoded Label: 339
47
------------
Original Class: 200 W MARYLAND ST
Encoded Label: 104
48
------------
Original Class: 611 N PARK AV
Encoded Label: 352
49
------------
Original Class: 3757 E NEW YORK ST
Encoded Label: 222
50
------------
Original Class: 1051 BROOKS ST
Encoded Label: 22
51
------------
Original Class: 757 MASSACHUSETTS AV
Encoded Label: 395
52
------------
Original Class: 4911 ROCKVILLE RD
Encoded Label: 292
53
------------
Original Class: 4310 BLUFF RD
Encoded Label: 259
54
------------
Original Class: 4100 N PENNSYLVANIA ST
Encoded Label: 245
55
------------
Original Class: 1216 KAPPES ST
Encoded Label: 41
56
------------
Original Class: 444 E NORTH ST
Encoded Label: 271
57
------------
Original Class: 5201 E 10TH ST
Encoded Label: 314
58
------------
Original Class: 2210 E 46TH ST
Encoded Label: 122
59
------------
Original Class: 3000 SHELBY ST
Encoded Label: 171
60
------------
Original Class: 5145 BOULEVARD PL
Encoded Label: 311
61
------------
Original Class: N DELAWARE ST & E NEW YORK ST
Encoded Label: 470
62
------------
Original Class: 254 S RITTER AV
Encoded Label: 151
63
------------
Original Class: 1301 BARTH AV
Encoded Label: 46
64
------------
Original Class: 402 W NEW YORK ST
Encoded Label: 241
65
------------
Original Class: 2444 E WASHINGTON ST
Encoded Label: 144
66
------------
Original Class: 6770 SPIRIT LAKE DR
Encoded Label: 377
67
------------
Original Class: W 16TH ST & N TIBBS AV
Encoded Label: 476
68
------------
Original Class: 5509 FURNAS CT
Encoded Label: 331
69
------------
Original Class: 649 JEFFERSON AV
Encoded Label: 366
70
------------
Original Class: 943 PROSPECT ST
Encoded Label: 452
71
------------
Original Class: 3400 BROUSE AV
Encoded Label: 197
72
------------
Original Class: 310 W MICHIGAN ST
Encoded Label: 175
73
------------
Original Class: 802 N MERIDIAN ST
Encoded Label: 406
74
------------
Original Class: 3805 N GERMAN CHURCH RD
Encoded Label: 224
75
------------
Original Class: S MERIDIAN ST & W GEORGIA ST
Encoded Label: 474
76
------------
Original Class: 2226 E 67TH ST
Encoded Label: 126
77
------------
Original Class: 308 N IRWIN ST
Encoded Label: 173
78
------------
Original Class: 6771 EAGLE POINTE DR S
Encoded Label: 379
79
------------
Original Class: 500 LOCKERBIE ST
Encoded Label: 301
80
------------
Original Class: 795 W WALNUT ST
Encoded Label: 404
81
------------
Original Class: 735 CANAL CT
Encoded Label: 389
82
------------
Original Class: 10106 ELLIS DR
Encoded Label: 11
83
------------
Original Class: 7644 ALLENWOOD CR
Encoded Label: 397
84
------------
Original Class: 930 W 10TH ST
Encoded Label: 447
85
------------
Original Class: N ALABAMA ST & E NEW YORK ST
Encoded Label: 469
86
------------
Original Class: 441 N MERIDIAN ST
Encoded Label: 269
87
------------
Original Class: 310 W MICHIGAN ST
Encoded Label: 175
88
------------
Original Class: 1075 BROOKS ST
Encoded Label: 23
89
------------
Original Class: PIERSON ST & TIPPECANOE ST
Encoded Label: 471
90
------------
Original Class: 359 WORCESTER AV
Encoded Label: 212
91
------------
Original Class: 310 W MICHIGAN ST
Encoded Label: 175
92
------------
Original Class: 620 N CAPITOL AV
Encoded Label: 355
93
------------
Original Class: 9325 RACQUET BALL LN
Encoded Label: 450
94
------------
Original Class: 531 VIRGINIA AV
Encoded Label: 321
95
------------
Original Class: 5035 WILDFLOWER CT
Encoded Label: 304
96
------------
Original Class: 2203 N PENNSYLVANIA ST
Encoded Label: 121
97
------------
Original Class: 1611 BROADWAY ST
Encoded Label: 79
98
------------
Original Class: 426 WALLACE AV
Encoded Label: 254
99
------------
Original Class: 809 IOWA ST
Encoded Label: 411
100
------------
Original Class: 3355 W MICHIGAN ST
Encoded Label: 195
101
------------
Original Class: 1611 BROADWAY ST
Encoded Label: 79
102
------------
Original Class: 50 W WASHINGTON ST
Encoded Label: 300
103
------------
Original Class: 821 DR M L KING JR ST
Encoded Label: 414
104
------------
Original Class: E 38TH ST & N POST RD
Encoded Label: 464
105
------------
Original Class: 6501 W MILLS AV
Encoded Label: 367
106
------------
Original Class: 7233 TWIN OAKS DR
Encoded Label: 384
107
------------
Original Class: 40 E ST CLAIR ST
Encoded Label: 233
108
------------
Original Class: 20 N MERIDIAN ST
Encoded Label: 103
109
------------
Original Class: 1455 N NEW JERSEY ST
Encoded Label: 65
110
------------
Original Class: 140 W WASHINGTON ST
Encoded Label: 57
111
------------
Original Class: 5662 GEORGETOWN RD
Encoded Label: 334
112
------------
Original Class: 7715 PERSHING RD
Encoded Label: 398
113
------------
Original Class: 8821 NAVIGATOR DR
Encoded Label: 428
114
------------
Original Class: 2502 DR MARTIN LUTHER KIN ST
Encoded Label: 148
115
------------
Original Class: 136 E ST JOSEPH ST
Encoded Label: 54
116
------------
Original Class: 7802 BROOKVILLE RD
Encoded Label: 399
117
------------
Original Class: 1744 W 74TH PL
Encoded Label: 96
118
------------
Original Class: 535 W MICHIGAN ST
Encoded Label: 323
119
------------
Original Class: 40 JENNY LN
Encoded Label: 234
120
------------
Original Class: 821 N LASALLE ST
Encoded Label: 415
121
------------
Original Class: 151 S EAST ST
Encoded Label: 69
122
------------
Original Class: 5725 W 43RD ST
Encoded Label: 336
123
------------
Original Class: 2419 LARMAN DR
Encoded Label: 140
124
------------
Original Class: 11025 SEDLAK LN
Encoded Label: 26
125
------------
Original Class: 6701 DOVER RD
Encoded Label: 374
126
------------
Original Class: 5247 LUZZANE LN
Encoded Label: 316
127
------------
Original Class: 3850 N COLLEGE AVE
Encoded Label: 228
128
------------
Original Class: 739 W 11TH ST
Encoded Label: 390
129
------------
Original Class: 3718 ARBOR GREEN WY
Encoded Label: 219
130
------------
Original Class: 5950 WINTHROP AV
Encoded Label: 342
131
------------
Original Class: 25 W 16TH ST
Encoded Label: 147
132
------------
Original Class: 1630 DRAPER ST
Encoded Label: 84
133
------------
Original Class: 1201 INDIANA AV
Encoded Label: 38
134
------------
Original Class: 1540 LANCASHIRE CT
Encoded Label: 75
135
------------
Original Class: 79 MYRON AV
Encoded Label: 402
136
------------
Original Class: 2419 LARMAN DR
Encoded Label: 140
137
------------
Original Class: 1412 SHELBY ST
Encoded Label: 60
138
------------
Original Class: 536 N ORIENTAL ST
Encoded Label: 324
139
------------
Original Class: 216 CLEVELAND ST
Encoded Label: 117
140
------------
Original Class: 402 E 56TH ST
Encoded Label: 238
141
------------
Original Class: 229 S DELAWARE ST
Encoded Label: 132
142
------------
Original Class: 6543 DORIS DR
Encoded Label: 369
143
------------
Original Class: 1 W 26TH ST
Encoded Label: 1
144
------------
Original Class: 401 E MICHIGAN ST
Encoded Label: 235
145
------------
Original Class: 3930 HOYT AV
Encoded Label: 230
146
------------
Original Class: 2810 COLLIER ST
Encoded Label: 164
147
------------
Original Class: 6701 N COLLEGE AV
Encoded Label: 375
148
------------
Original Class: 4755 KINGSWAY DR
Encoded Label: 284
149
------------
Original Class: 8909 WALLSTREET DR
Encoded Label: 429
150
------------
Original Class: 3217 WINTON AV
Encoded Label: 181
151
------------
Original Class: 912 N BOLTON AV
Encoded Label: 438
152
------------
Original Class: 333 E WESTFIELD BL
Encoded Label: 192
153
------------
Original Class: 530 E OHIO ST
Encoded Label: 320
154
------------
Original Class: 3916 LINCOLN RD
Encoded Label: 229
155
------------
Original Class: 902 E PLEASANT RUN PKWY N DR
Encoded Label: 432
156
------------
Original Class: 846 WOODRUFF PL MIDDLE DR
Encoded Label: 423
157
------------
Original Class: E 24TH ST & N DELAWARE ST
Encoded Label: 461
158
------------
Original Class: 4218 GUILFORD AV
Encoded Label: 252
159
------------
Original Class: 1650 HOEFGEN ST
Encoded Label: 88
160
------------
Original Class: 930 W 10TH ST
Encoded Label: 447
161
------------
Original Class: 3553 FOUNDERS RD
Encoded Label: 210
162
------------
Original Class: 49 W MARYLAND ST
Encoded Label: 289
163
------------
Original Class: 201 S CAPITOL AV
Encoded Label: 106
164
------------
Original Class: 3824 N ILLINOIS ST
Encoded Label: 226
165
------------
Original Class: 3221 BABSON CT
Encoded Label: 184
166
------------
Original Class: 4842 WINTHROP AV
Encoded Label: 287
167
------------
Original Class: 932 N CALIFORNIA ST
Encoded Label: 449
168
------------
Original Class: 6140 E 21ST ST
Encoded Label: 354
169
------------
Original Class: 5141 W 33RD ST
Encoded Label: 310
170
------------
Original Class: 800 N MERIDIAN ST
Encoded Label: 405
171
------------
Original Class: 3548 W 11TH ST
Encoded Label: 209
172
------------
Original Class: 4927 BROADWAY ST
Encoded Label: 296
173
------------
Original Class: 3965 N MERIDIAN ST
Encoded Label: 232
174
------------
Original Class: 2020 N DELAWARE ST
Encoded Label: 110
175
------------
Original Class: 537 E 39TH ST
Encoded Label: 325
176
------------
Original Class: 3200 COLD SPRING RD
Encoded Label: 180
177
------------
Original Class: 2013 W MICHIGAN ST
Encoded Label: 109
178
------------
Original Class: 6701 N COLLEGE AV
Encoded Label: 375
179
------------
Original Class: 2450 E 71ST ST
Encoded Label: 146
180
------------
Original Class: 6219 GUILFORD AV
Encoded Label: 357
181
------------
Original Class: 1201 INDIANA AV
Encoded Label: 38
182
------------
Original Class: 6219 GUILFORD AV
Encoded Label: 357
183
------------
Original Class: 3657 N CAPITOL AV
Encoded Label: 216
184
------------
Original Class: 430 N PARK AV
Encoded Label: 258
185
------------
Original Class: 5547 WINTHROP AV
Encoded Label: 332
186
------------
Original Class: 711 E WASHINGTON ST
Encoded Label: 382
187
------------
Original Class: 7847 MARQUIS LN
Encoded Label: 401
188
------------
Original Class: 1125 BROOKSIDE AV
Encoded Label: 29
189
------------
Original Class: 1510 STADIUM WA
Encoded Label: 70
190
------------
Original Class: 525 DORMAN ST
Encoded Label: 317
191
------------
Original Class: 201 W 38TH ST
Encoded Label: 107
192
------------
Original Class: 910 W 10TH ST
Encoded Label: 434
193
------------
Original Class: 2716 E WASHINGTON ST
Encoded Label: 159
194
------------
Original Class: 4643 LYNNFIELD RD
Encoded Label: 279
195
------------
Original Class: 31 W OHIO ST
Encoded Label: 174
196
------------
Original Class: 520 E MARKET ST
Encoded Label: 312
197
------------
Original Class: 40 E ST CLAIR ST
Encoded Label: 233
198
------------
Original Class: 920 N ALABAMA ST
Encoded Label: 441
199
------------
Original Class: 1630 N MERIDIAN ST
Encoded Label: 85
200
------------
Original Class: 401 W MERIDIAN SCHOOL RD
Encoded Label: 237
201
------------
Original Class: 1836 E 10TH ST
Encoded Label: 100
202
------------
Original Class: 3601 W 16TH ST
Encoded Label: 213
203
------------
Original Class: 100 S CAPITOL AV
Encoded Label: 4
204
------------
Original Class: W GEORGIA ST & S ILLINOIS ST
Encoded Label: 481
205
------------
Original Class: 401 E MICHIGAN ST
Encoded Label: 235
206
------------
Original Class: 6127 COMPTON ST
Encoded Label: 353
207
------------
Original Class: 725 MASSACHUSETTS AV
Encoded Label: 386
208
------------
Original Class: 10 S WEST ST
Encoded Label: 3
209
------------
Original Class: 4037 N COLLEGE AV
Encoded Label: 243
210
------------
Original Class: 1 W MARYLAND ST
Encoded Label: 2
211
------------
Original Class: 100 S MERIDIAN ST
Encoded Label: 5
212
------------
Original Class: 3515 E 10TH ST
Encoded Label: 205
213
------------
Original Class: 2441 STUART ST
Encoded Label: 143
214
------------
Original Class: 2120 W MORRIS ST
Encoded Label: 113
215
------------
Original Class: 6645 SUNNY LN
Encoded Label: 372
216
------------
Original Class: 6200 CARROLLTON AV
Encoded Label: 356
217
------------
Original Class: 520 N DEARBORN ST
Encoded Label: 313
218
------------
Original Class: 1505 MINOCQUA ST
Encoded Label: 68
219
------------
Original Class: 5709 W WASHINGTON ST
Encoded Label: 335
220
------------
Original Class: 4361 DECLARATION DR
Encoded Label: 263
221
------------
Original Class: 1001 N RURAL ST
Encoded Label: 6
222
------------
Original Class: 3518 MONNINGER DR
Encoded Label: 206
223
------------
Original Class: 4039 BOULEVARD PL
Encoded Label: 244
224
------------
Original Class: 636 N LINWOOD AV
Encoded Label: 363
225
------------
Original Class: 1145 S CAPITOL AV
Encoded Label: 33
226
------------
Original Class: 55 KOWEBA LN
Encoded Label: 329
227
------------
Original Class: 1022 HOSBROOK ST
Encoded Label: 17
228
------------
Original Class: 2126 E MICHIGAN ST
Encoded Label: 116
229
------------
Original Class: 3217 WINTON AV
Encoded Label: 181
230
------------
Original Class: 5251 KENTUCKY AV
Encoded Label: 318
231
------------
Original Class: 1309 N PENNSYLVANIA ST
Encoded Label: 50
232
------------
Original Class: 1532 E 10TH ST
Encoded Label: 73
233
------------
Original Class: 1435 N ILLINOIS ST
Encoded Label: 64
234
------------
Original Class: 2502 N SHERMAN DR
Encoded Label: 149
235
------------
Original Class: 3527 N COLLEGE AV
Encoded Label: 207
236
------------
Original Class: 109 S BRADLEY AV
Encoded Label: 24
237
------------
Original Class: 1514 SHEPARD ST
Encoded Label: 71
238
------------
Original Class: 3741 LA FONTAINE CT
Encoded Label: 221
239
------------
Original Class: 4611 N COLLEGE AV
Encoded Label: 277
240
------------
Original Class: 100 S CAPITOL AV
Encoded Label: 4
241
------------
Original Class: 7509 RUSKIN PL
Encoded Label: 394
242
------------
Original Class: E OHIO ST & N PENNSYLVANIA ST
Encoded Label: 468
243
------------
Original Class: 6340 GATEWAY DR
Encoded Label: 362
244
------------
Original Class: 804 BLAKE ST
Encoded Label: 409
245
------------
Original Class: 3409 N HIGH SCHOOL RD
Encoded Label: 199
246
------------
Original Class: 921 E WASHINGTON ST
Encoded Label: 443
247
------------
Original Class: 2503 N NEW JERSEY ST
Encoded Label: 150
248
------------
Original Class: 245 N DELAWARE ST
Encoded Label: 145
249
------------
Original Class: W 10TH ST & N CENTENNIAL ST
Encoded Label: 475
250
------------
Original Class: 4328 FOLTZ ST
Encoded Label: 261
251
------------
Original Class: 3640 GREEN ASH CT
Encoded Label: 215
252
------------
Original Class: 2171 AVONDALE PL
Encoded Label: 119
253
------------
Original Class: 441 E OHIO ST
Encoded Label: 268
254
------------
Original Class: 1628 YANDES ST
Encoded Label: 83
255
------------
Original Class: 1247 S KIEL AVE
Encoded Label: 44
256
------------
Original Class: 6424 JOHNWES RD
Encoded Label: 364
257
------------
Original Class: 411 RUSKIN PL
Encoded Label: 248
258
------------
Original Class: 315 KOEHNE ST
Encoded Label: 178
259
------------
Original Class: 3358 HEATHER RIDGE DR
Encoded Label: 196
260
------------
Original Class: 322 CANAL WALK
Encoded Label: 183
261
------------
Original Class: E 10TH ST & N LASALLE ST
Encoded Label: 459
262
------------
Original Class: 9201 RUSHMORE BLVD
Encoded Label: 442
263
------------
Original Class: 4655 LYNNFIELD RD
Encoded Label: 280
264
------------
Original Class: 1540 E TABOR ST
Encoded Label: 74
265
------------
Original Class: 2831 EARLSWOOD LN
Encoded Label: 167
266
------------
Original Class: 3242 N ARSENAL AV
Encoded Label: 185
267
------------
Original Class: 5103 E 16TH ST
Encoded Label: 306
268
------------
Original Class: 66 N TREMONT ST
Encoded Label: 370
269
------------
Original Class: 2310 UNION ST
Encoded Label: 133
270
------------
Original Class: 2211 PROSPECT ST
Encoded Label: 123
271
------------
Original Class: 3264 VALLEY FARMS WY
Encoded Label: 187
272
------------
Original Class: 6659 PEMBRIDGE WY
Encoded Label: 373
273
------------
Original Class: 8536 LENNA CT
Encoded Label: 425
274
------------
Original Class: 7827 SOUTHFIELD DR
Encoded Label: 400
275
------------
Original Class: 9559 MERCURY DR
Encoded Label: 455
276
------------
Original Class: 430 INDIANA AV
Encoded Label: 256
277
------------
Original Class: 2821 E 13TH ST
Encoded Label: 165
278
------------
Original Class: 4926 MELROSE AV
Encoded Label: 295
279
------------
Original Class: 1252 RINGGOLD AV
Encoded Label: 45
280
------------
Original Class: 4846 PENDRAGON BL
Encoded Label: 288
281
------------
Original Class: 2401 SHELBY ST
Encoded Label: 136
282
------------
Original Class: 7186 TWIN OAKS DR
Encoded Label: 383
283
------------
Original Class: 3805 MILL CROSSING DR
Encoded Label: 223
284
------------
Original Class: 1035 BROAD RIPPLE AV
Encoded Label: 19
285
------------
Original Class: 6723 W 16TH ST
Encoded Label: 376
286
------------
Original Class: 7321 FREEPORT LN
Encoded Label: 387
287
------------
Original Class: 1150 N WHITE RIVER PKWY W DR
Encoded Label: 35
288
------------
Original Class: 1627 N COLORADO AV
Encoded Label: 82
289
------------
Original Class: 401 N ILLINOIS ST
Encoded Label: 236
290

## Integratenew encoded data
### label asignments
Districts

Bike Value

Street address -----Will not be used Experiment value

In [40]:
disposition = encoded_y

In [41]:
moidfied_data_df.dtypes

CRIME            object
DATE_year        object
DATE_month       object
DATE_week        object
DATE_day         object
Hour             object
Minute           object
ADDRESS          object
Temp(K)          object
Pressure(atm)    object
wind             object
dtype: object

In [42]:
# create datafrane for easy modeling
# dataframe only has features and one-hot encoding

features_df['disposition'] = disposition.tolist()
features_df['Bike Value'] = encoded_Bike_vale.tolist()
features_df['Street (Coded)'] = encoded_ADDRESS_value.tolist()
moidfied_data_df = features_df
moidfied_data_df

,CRIME,DATE_year,DATE_month,DATE_week,DATE_day,Hour,Minute,ADDRESS,Temp(K),Pressure(atm),wind,disposition,Bike Value,Street (Coded)
0,Over 200$,2013,1,2,7,13,21,1308 CENTRAL AV,275.18,5,5,2,1,49
1,Over 200$,2013,1,3,14,12,30,1204 CENTRAL AV,277.15,4,4,2,1,39
2,Over 200$,2013,1,3,16,18,56,1209 S RANDOLPH ST,271.01,5,5,4,1,40
3,Over 200$,2013,1,4,21,9,00,7637 SANTA BARBARA DR,274.3,9,9,3,1,396
4,Over 200$,2013,1,4,24,13,15,E 10TH ST & N TUXEDO ST,262.95,2,2,2,1,460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,Under 50$,2013,9,39,25,23,58,4923 ROCKVILLE RD,296.9,0,0,5,2,294
515,Under 50$,2013,9,40,30,18,47,1148 SHARON AV,294.3765,2,2,5,2,34
516,Under 50$,2013,10,40,1,12,00,366 WICHSER AV,291.505,2,2,5,2,217
517,Under 50$,2013,10,40,5,12,08,2710 BETHEL AV,294.15,1,1,4,2,156
518,Under 50$,2013,11,46,11,19,00,6030 E 21ST ST,283.44,1,1,2,2,347

In [43]:
# needed for y componet for models (Decsion tree and randomforest)
# Decison tree was run to compare to random forest
# random forest first time: was run to identify top 10 featrues from originol 42 features
# ransom forest second time: ran with top 10 features
# ransom forest third time: ran with minMax scaler data.


target = moidfied_data_df["disposition"]
#target

In [44]:
# save to csv for other models
file = "raw_data_with_diposition.csv"
path_file = path + file
moidfied_data_df.to_csv(path_file)
moidfied_data_df

,CRIME,DATE_year,DATE_month,DATE_week,DATE_day,Hour,Minute,ADDRESS,Temp(K),Pressure(atm),wind,disposition,Bike Value,Street (Coded)
0,Over 200$,2013,1,2,7,13,21,1308 CENTRAL AV,275.18,5,5,2,1,49
1,Over 200$,2013,1,3,14,12,30,1204 CENTRAL AV,277.15,4,4,2,1,39
2,Over 200$,2013,1,3,16,18,56,1209 S RANDOLPH ST,271.01,5,5,4,1,40
3,Over 200$,2013,1,4,21,9,00,7637 SANTA BARBARA DR,274.3,9,9,3,1,396
4,Over 200$,2013,1,4,24,13,15,E 10TH ST & N TUXEDO ST,262.95,2,2,2,1,460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,Under 50$,2013,9,39,25,23,58,4923 ROCKVILLE RD,296.9,0,0,5,2,294
515,Under 50$,2013,9,40,30,18,47,1148 SHARON AV,294.3765,2,2,5,2,34
516,Under 50$,2013,10,40,1,12,00,366 WICHSER AV,291.505,2,2,5,2,217
517,Under 50$,2013,10,40,5,12,08,2710 BETHEL AV,294.15,1,1,4,2,156
518,Under 50$,2013,11,46,11,19,00,6030 E 21ST ST,283.44,1,1,2,2,347

In [45]:
#Final data prep
moidfied_data_df = moidfied_data_df.drop(columns =["CRIME","ADDRESS"])
moidfied_data_df

,DATE_year,DATE_month,DATE_week,DATE_day,Hour,Minute,Temp(K),Pressure(atm),wind,disposition,Bike Value,Street (Coded)
0,2013,1,2,7,13,21,275.18,5,5,2,1,49
1,2013,1,3,14,12,30,277.15,4,4,2,1,39
2,2013,1,3,16,18,56,271.01,5,5,4,1,40
3,2013,1,4,21,9,00,274.3,9,9,3,1,396
4,2013,1,4,24,13,15,262.95,2,2,2,1,460
...,...,...,...,...,...,...,...,...,...,...,...,...
514,2013,9,39,25,23,58,296.9,0,0,5,2,294
515,2013,9,40,30,18,47,294.3765,2,2,5,2,34
516,2013,10,40,1,12,00,291.505,2,2,5,2,217
517,2013,10,40,5,12,08,294.15,1,1,4,2,156
518,2013,11,46,11,19,00,283.44,1,1,2,2,347

# Create a Train Test Split to run Decison Tree
* Purpose is to idenentify top 10 features
* Save final list with diposition value (0,1,2) as file: "Top_10_features_disposition_data.csv"
* Random forest workd the best


Use `disposition` for the y values

In [46]:
# Create dataframe for running decision tree
# This was done to upload existing code with similar variables
# Main Data set: data_df

data_df = moidfied_data_df.drop(columns=["disposition"])
feature_names = data_df.columns
data_df.head()

,DATE_year,DATE_month,DATE_week,DATE_day,Hour,Minute,Temp(K),Pressure(atm),wind,Bike Value,Street (Coded)
0,2013,1,2,7,13,21,275.18,5,5,1,49
1,2013,1,3,14,12,30,277.15,4,4,1,39
2,2013,1,3,16,18,56,271.01,5,5,1,40
3,2013,1,4,21,9,00,274.3,9,9,1,396
4,2013,1,4,24,13,15,262.95,2,2,1,460

## Decision Tree

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_df, target, random_state=42)

In [48]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.2076923076923077

## Random Forest Decision Tree

In [49]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.25384615384615383

In [50]:
Featrues_by_importance = sorted(zip(rf.feature_importances_, feature_names), reverse=True)
Featrues_by_importance_df = pd.DataFrame(Featrues_by_importance)
top10_featrues = Featrues_by_importance_df.head(11)
top10_featrues

           0               1
0   0.172197  Street (Coded)
1   0.146389         Temp(K)
2   0.124812        DATE_day
3   0.121283            Hour
4   0.111819       DATE_week
5   0.087866          Minute
6   0.068309      DATE_month
7   0.061721            wind
8   0.061046   Pressure(atm)
9   0.044560      Bike Value
10  0.000000       DATE_year

# Don't Run after this point: Artifact code

# Create dataframes with opimized features and catogrical ouputs

In [53]:
# Master dataset with catagorical diposition
selected_features_df = moidfied_data_df[['DATE_year', 
                                      'DATE_month',
                                      'DATE_week',
                                      'DATE_day', 
                                      'Hour',
                                      'Minute',
                                      'Temp(K)',
                                      'Pressure(atm)', 
                                      'wind',
                                      'Street (Coded)',
                                      'disposition']]
selected_features_df

,DATE_year,DATE_month,DATE_week,DATE_day,Hour,Minute,Temp(K),Pressure(atm),wind,Street (Coded),disposition
0,2013,1,2,7,13,21,275.18,5,5,49,2
1,2013,1,3,14,12,30,277.15,4,4,39,2
2,2013,1,3,16,18,56,271.01,5,5,40,4
3,2013,1,4,21,9,00,274.3,9,9,396,3
4,2013,1,4,24,13,15,262.95,2,2,460,2
...,...,...,...,...,...,...,...,...,...,...,...
514,2013,9,39,25,23,58,296.9,0,0,294,5
515,2013,9,40,30,18,47,294.3765,2,2,34,5
516,2013,10,40,1,12,00,291.505,2,2,217,5
517,2013,10,40,5,12,08,294.15,1,1,156,4
518,2013,11,46,11,19,00,283.44,1,1,347,2

In [54]:
# save to csv for other models
file = "Top_10_features_disposition_data.csv"
path_file = path + file
selected_features_df.to_csv(path_file)
#selected_features_df

In [55]:
# create features CSV with origianl koi_disposition for plug and play models
temp_df= selected_features_df.drop("disposition", axis=1)
temp_df['koi_disposition'] = y.tolist()
#temp_df

In [56]:
#      save to csv for other models
file = "top_Ten_origianl_koi_disposition_data.csv"
path_file = path + file
temp_df.to_csv(path_file)

# Create a Train Test Split
Use Decision tree and random forest with optimized features list

Use `disposition` for the y values

In [57]:
data = selected_features_df.drop("disposition", axis=1)
feature_names = data.columns
data.head()

,DATE_year,DATE_month,DATE_week,DATE_day,Hour,Minute,Temp(K),Pressure(atm),wind,Street (Coded)
0,2013,1,2,7,13,21,275.18,5,5,49
1,2013,1,3,14,12,30,277.15,4,4,39
2,2013,1,3,16,18,56,271.01,5,5,40
3,2013,1,4,21,9,00,274.3,9,9,396
4,2013,1,4,24,13,15,262.95,2,2,460

In [58]:
## Decision Tree

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [60]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.18461538461538463

In [61]:
## Random Decision Tree

In [62]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.24615384615384617

## minMaxScaler
* Use optimized features list

* Use minMaxScaler to nomalized optimized featres list

* Save as csv: minmaxscaled_disposition_data.csv

In [63]:
from sklearn.preprocessing import MinMaxScaler

In [64]:
scaler = MinMaxScaler()
# transform data
scaled = scaler.fit_transform(data)
#print(scaled)

In [65]:
scaled_df = pd.DataFrame(scaled)
scaled_df

,0,1,2,3,4,5,6,7,8,9
0,0.0,0.000000,0.019608,0.200000,0.565217,0.355932,0.352156,0.416667,0.416667,0.101871
1,0.0,0.000000,0.039216,0.433333,0.521739,0.508475,0.390253,0.333333,0.333333,0.081081
2,0.0,0.000000,0.039216,0.500000,0.782609,0.949153,0.271514,0.416667,0.416667,0.083160
3,0.0,0.000000,0.058824,0.666667,0.391304,0.000000,0.335138,0.750000,0.750000,0.823285
4,0.0,0.000000,0.058824,0.766667,0.565217,0.254237,0.115645,0.166667,0.166667,0.956341
...,...,...,...,...,...,...,...,...,...,...
514,0.0,0.727273,0.745098,0.800000,1.000000,0.983051,0.772191,0.000000,0.000000,0.611227
515,0.0,0.727273,0.764706,0.966667,0.782609,0.796610,0.723390,0.166667,0.166667,0.070686
516,0.0,0.818182,0.764706,0.000000,0.521739,0.000000,0.667859,0.166667,0.166667,0.451143
517,0.0,0.818182,0.764706,0.133333,0.521739,0.135593,0.719010,0.083333,0.083333,0.324324
518,0.0,0.909091,0.882353,0.333333,0.826087,0.000000,0.511893,0.083333,0.083333,0.721414

In [78]:
# Rename the headers to match origanl headers--- not as nice

data_scaled_df = scaled_df.rename(columns={0:'DATE_year', 
                                      1:'DATE_month', 
                                      2:'DATE_week', 
                                      3:'DATE_day', 
                                      4:'Hour',
                                      5:'Minute',
                                      6:'Temp(K)',
                                      7:'Pressure(atm)', 
                                      8:'wind',
                                      9:'Street (Coded)',
                                      })

#      Use the this dataframe for testing. Does not have dipsoisiton
#data_scaled_df

In [79]:
# pack up clean datafram for csv
data_scaled_disposition_df = data_scaled_df 

data_scaled_disposition_df['disposition'] = disposition.tolist()

#data_scaled_disposition_df

In [80]:
# save to csv for other models
file = "minmaxscaled_disposition_data.csv"
path_file = path + file
data_scaled_disposition_df.to_csv(path_file)

In [81]:
# RandomForest third time for fun

In [82]:
# use data_scaled_df and target for testing

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_scaled_df, target, random_state=42)

In [83]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

1.0

In [84]:
# Decsion tree model: for fun.

In [85]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_scaled_df, target, random_state=42)

In [86]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

1.0